{% load i18n %}
{% load custom_table_tags %}
<thead>
    <tr>{% for column in columns %}
        <th scope="col" class="{% if column.is_sorted %}sorted {{ column.sort_direction }}{% endif %}">
        {% if column.sortable %}
            <a href="{{ column.sort_url }}" title="Sort this table by {{ column|lower }}">
        {% else %}
            <span class="unsortable">
        {% endif %}
        {% if column.head_verbose %}
            {% trans column.head_verbose %}
        {% else %}
            {% filter title %}{% filter underscoretospaces %}{% trans column.name %}{% endfilter %}{% endfilter %}
        {% endif %}
        {% if column.is_sorted %}
            <span title="Sorted in {{ column|lower }} order">
                ({{ column.sort_direction }})
            </span>
        {% endif %}
        {% if column.is_ordered %}
            </a>
        {% else %}
            <span>
        {% endif %}
        </th>
        {% endfor %}
    </tr>
</thead>
