{% load i18n %}
<div class="contactGroupHeader">{{ supply_point.type }} {% trans 'Contacts' %}</div>
<table>
    <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Role' %}</th>
        <th>{% trans 'Phone' %}</th>
        <th>{% trans 'Email' %}</th>
        <th>{% trans 'Primary' %}</th>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr class="">
            <td>{{ contact.name }}</td>
            <td>{% blocktrans with contact.role as role%}{{ role }}{% endblocktrans %}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <td><input type="checkbox" {% if contact.primary %}checked{% endif %} DISABLED /></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
