{% load i18n %}


<div class="module">
            <h2>{% trans 'District Summary' %}</h2>
            <!--<div class="toolbar">
                <a href="">All Stats</a>
            </div>-->
            <ul class="stats">
                <li>
                    <div class="report">{{ facs|length }}</div>
                    <div class="caption"><a href="{% url ordering %}">{% trans 'Facilities' %}</a></div>
                </li>
                <li>
                    <div class="report">Group {{ dg.current_submitting_group }}: {% trans 'Submitting' %}</div>
                    <div class="caption">{% blocktrans with sub_data.submitted|length as submitted and dg.submitting|length as count %}{{ submitted }} of {{ count }}{% endblocktrans %} <a href="{% url ordering %}">{% trans 'submitted' %}</a></div>
                </li>
                <li>
                    <div class="report">Group {{ dg.current_processing_group }}: {% trans 'Processing' %}</div>
                    <div class="caption">{% blocktrans with monthly_data.randrs_sent_to_msd as processed and dg.processing|length as count %}{{ processed }} of {{ count }} forms sent to MSD{% endblocktrans %}</div>
                </li>
                <li>
                    <div class="report">Group {{ dg.current_delivering_group }}: {% trans "Deliveries" %}</div>
                    <div class="caption">{% blocktrans with sub_data.delivery_received|length as delivered and dg.delivering|length as count %}{{ delivered }} of {{ count }}{% endblocktrans %} <a href="{% url ordering %}">{% trans 'delivered' %}</a></div>
                </li>
            </ul>
</div>
