{% load i18n %}
<div class="inventorySMS">
    <p>{% trans 'Last SMS message received' %}:</p>
    
{% if last_report %}
    <p><i>&raquo;"{{ last_report.message.text }}"</i></p>
    <p>{{ last_report.report_date }} {% trans 'by' %} {{ last_report.contact.role.name }} {{ last_report.contact }}</p>
{% else %}
    <p>{% trans 'No inventory messages have been received' %}</p>
{% endif %}    
    <p><a href="{% url facility_messages facility.id %}">{% trans 'See complete SMS message history' %} &raquo;</a></p>
</div>
