{% load i18n %}
{# this is ugly but we can live with it #}
<div id="stock_on_hand"> 
    {# the quote escapes here are super sketchy but they work inside a normal template and in gmaps #}
    <p>{% trans "Stock on Hand" %} (<a onclick="$(&quot;#stock_on_hand&quot;).hide(); $(&quot;#months_of_stock&quot;).show();">{% trans "show months of stock" %}</a>)</p>
    <table style="margin-top: 1em; width: 100%">
	    {% for product_stock in product_stocks %}
	    {% if forloop.first %}
	    <thead>
	        <th>{% trans "Product" %}</th>
	        <th>{% trans "Stock on Hand" %}</th>
	    </thead>
	    {% endif %}
	    <tbody>
	        <tr>
	            <td>{{ product_stock.product.name }}</td>
	            <td><span class="{% if product_stock.quantity == 0 %}{% else %}{% if not product_stock.quantity %}insufficient_data{% endif %}{% endif %}">
	                {% if product_stock.quantity == None %}{% trans "no data"   %}{% else %}{{ product_stock.quantity|floatformat }}{% endif %}
	                </span>
	            </td>
	        </tr>    
	    </tbody>
	    {% empty %}
	    <th>No stock data found</th>
	    {% endfor %}                
	</table>
</div>
<div id="months_of_stock" style="display:none;">
    <p>{% trans "Months of stock" %} (<a onclick="$(&quot;#months_of_stock&quot;).hide(); $(&quot;#stock_on_hand&quot;).show();">{% trans "show stock on hand" %}</a>)</p>
    <table style="margin-top: 1em; width: 100%">
        {% for product_stock in product_stocks %}
        {% if forloop.first %}
        <thead>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Months of stock" %}</th>
        </thead>
        {% endif %}
        <tbody>
            <tr>
                <td>{{ product_stock.product.name }}</td>
                <td><span class="{% if product_stock.months_remaining == 0 %}zero_count{% else %}{% if not product_stock.months_remaining %}insufficient_data{% endif %}{% endif %}">
                    {% if product_stock.months_remaining == None %}{% trans "no data" %}{% else %}{{ product_stock.months_remaining|floatformat }}{% endif %}
                    </span>
                </td>
            </tr>    
        </tbody>
        {% empty %}
        <th>No stock data found</th>
        {% endfor %}                
    </table>
</div>
