{% load logistics_report_tags %}
{% load logistics_tags %}
{% load tz_tags %}
{% load i18n %}

{% for t in tables %}
    <div class="module">
	    <h2>{% trans 'Current Stock Status' %} {% ifequal show "months" %}(months){% else %}(inventory){% endifequal %} {% if not forloop.first %} (continued){% endif %}</h2>
	    {% if forloop.first %}
	    <div class="toolbar">
            {% ifequal show "months" %}
	        <a href="{% url_get_replace request "show" "inventory" %}">{% trans 'Show inventory' %}</a>
            {% else %}
	        <a href="{% url_get_replace request "show" "months" %}">{% trans 'Show months of stock' %}</a>
            {% endifequal %}
	    </div>
	    {% endif %}
        {{ t.as_html }}
    </div>
{% endfor %}
