{% extends "logistics/base.html" %}
{% load i18n %}

{% block content %}
    <div class="module">
        <div class="error">{{ errors }}</div>
        <h2>Input Stock for {{ date|date:"D, M d" }}</h2>
        {% if rms %}
        <form action="" method="post">
            <div class="submit">
                <input type="submit" name="submit" value="Save Stock Report"/>
            </div>
            <div>
            {% csrf_token %}
            <table>
            <thead>
            <tr>
                <th>{% trans "Commodity" %}</th>
                <th>{% trans "Current Stock On Hand" %}</th>
                <th>{% trans "Receipts" %}</th>
                <th>{% trans "Units" %}</th>
                <th>{% trans "Average Monthly Consumption" %}</th>
                {% if perms.logistics %}
                <th>{% trans "Should Report?" %}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for stock in productstocks %}
                    <tr>
                        <td>{{ stock.product }}</td>
                        <td><input type="text" name="{{ stock.product.sms_code }}" id="id_{{ stock.product }}" value="{{ stock.quantity|default_if_none:'' }}"/></td>
                        <td><input type="text" name="{{ stock.product.sms_code }}_receipt" id="id_{{ stock.product }}_receipt" value="0"/></td>
                        <td>{{ stock.product.units }}</td>
                        {% if perms.logistics %}
                        <td><input type="text" name="{{ stock.product.sms_code }}_consumption" id="id_{{ stock.product.sms_code }}_consumption" value="{{ stock.monthly_consumption|default_if_none:'' }}"/></td>
                        <td>
                            <input type="checkbox" name="{{ stock.product.sms_code }}_is_active" id="id_{{ stock.product.sms_code }}_is_active"
                            {% if stock.is_active %}checked="checked"{% endif %}/>
                        </td>
                        {% else %}
                        <td>{{ stock.monthly_consumption|default_if_none:'unknown' }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>

            <div class="submit">
                <input type="submit" name="submit" value="Save Stock Report"/>
            </div>

        </form>
        {% else %}<p></p>
            {% trans "No regional medical stores defined!" %}
        {% endif %}
    </div>
{% endblock %}
