{% extends "logistics/base.html" %}
{% load i18n %}

{% block content %}
    <div class="module">
        <h2>Input Stock for {{ date|date:"D, M d" }}</h2>
        {% if rms %}
        <form action="" method="post">
            <div>
                {% csrf_token %}
                {% for stock in productstocks %}
                <div class="field {{ stock.product }} required">
                    <label for="id_{{ stock.product }}">{{ stock.product }}</label>
                    <input type="text" name="{{ stock.product.sms_code }}" id="id_{{ stock.product }}" value="{{ stock.quantity }}"/>
                </div>
                {% endfor %}
            </div>

            <div class="submit">
                <input type="submit" name="submit" value="Save Stock Report"/>
            </div>

        </form>
        {% else %}<p></p>
            {% trans "No regional medical stores defined!" %}
        {% endif %}
    </div>
{% endblock %}
