{% extends "logistics/reports_base.html" %}

{% block content %}
    <div class="module">
        <h2>
            Reporting Rates {% if facility %}for {{ facility.name }}{% endif %}
        </h2>
        <table>
            <thead><tr>
                <th>NON-REPORTING FACILITIES</th>
                <th>Last Message Received</th>
            </thead></tr><tbody>
                {% for late_facility in late_facilities %}
                    <tr><td>{{ late_facility.name }}</td>
                    <td>{{ late_facility.last_reported|date:"M d, h:m A"|default:"never" }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table>
            <thead><tr>
                <th>On-Time Facilities</th>
                <th>Last Message Received</th>
            </thead></tr><tbody>
                {% for on_time_facility in on_time_facilities %}
                    <tr><td>{{ on_time_facility.name }}</td>
                    <td>{{ on_time_facility.last_reported|date:"M d, h:m A"|default:"never" }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
