{% extends "logistics/reports_base.html" %}
{% load logistics_extras %}
{% load i18n %}
{% block javascripts %}
{{ block.super }}
{% include "logistics/googlecharts/stock_chart_js.html" %}
{% endblock %}

{% block content %}
    <div class="module">
        <div class="topbar noprint">
        <div class="topbar-left">
        {% include "logistics/partials/accordion_nav.html" %}
        </div>
        <div class="topbar-right">
                <a style="cursor:pointer;" onclick="$.fn.printableview()">Print Report</a>
            </div>
        </div>
        <div id="main">

        <h2 id="report-title">Stock for {{ facility.name }}</h2>

        {% if stockonhands %}
            {% if excel_export %}
				<div class="toolbar noprint">
				    <a href="{% url export_stock facility.code %}" class="add">Export to Excel</a>
				</div>
		    {% endif %}
                <div id="report-content">

                {% if chart_data %}
                <div id="chart_div" class="noprint"></div>
                {% endif %}
                
                <br />
                <div id="table-container">
                <div id="table">
                <table class="stock">
                    <thead><tr>
                        <th>{% trans "Commodity" %}</th>
                        <th class="stock_col">{% trans "Months Until Stockout" %}</th>
                        <th class="stock_col">{% trans "Current Stock" %}</th>
                        <th class="stock_col">{% trans "Monthly Consumption" %}</th>
                        <th class="stock_col">{% trans "Emergency Level" %}</th>
                        <th class="stock_col">{% trans "Reorder Level" %}</th>
                        <th class="stock_col">{% trans "Maximum Level" %}</th>
                    </tr></thead>
                    <tbody>
                    {% for stockonhand in stockonhands %}
                        <tr>
                        <td>{{ stockonhand.product.name }}</td>
                        {% highlight_months stockonhand MEDIA_URL %}
                        <td>{{ stockonhand.quantity|default_if_none:"unknown" }}</td>
                        <td {% ifequal stockonhand.monthly_consumption None %}
                                class="big_error"
                            {% endifequal %}>
                            {{ stockonhand.monthly_consumption|default_if_none:"not set" }}
                        </td>
                        <td>{{ stockonhand.emergency_reorder_level|default_if_none:"unknown" }}</td>
                        <td>{{ stockonhand.reorder_level|default_if_none:"unknown" }}</td>
                        <td>{{ stockonhand.maximum_level|default_if_none:"unknown" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div id="legend">
                    {% include "logistics/partials/icon_legend.html" %}
                </div>
                </div>
                <br/>
                {% ifequal request.user.get_profile.facility facility %}
                <a class="noprint" href="{% url input_stock facility.code %}">INPUT STOCK for {{ facility.name }}</a>
                {% else %}
	                {% if request.user.is_superuser %}
	                <a class="noprint" href="{% url input_stock facility.code %}">INPUT STOCK for {{ facility.name }}</a>
	                {% endif %}
                {% endifequal %}
                {% if last_reported %}
                    <p>The last report received was on {{ last_reported|date:"M d, h:m A" }}.</p>
                {%  endif %}
	            </div>
            {% else %}<p></p>
                <div class="error">
                    <p>{{ facility.name }} has not been configured with the appropriate stock or submitted any stock on hand reports yet.</p>
                    <p>Please contact the system administrator for help.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
