{% block javascripts %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/expand.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.nestedAccordion.js"></script>
<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    $("html").addClass("js");
    $(function() {
      $("#side").accordion({
          initShow : "#current",
          event: 'click'
      });
      $("html").removeClass("js");
    });
    //--><!]]>
</script>
{% endblock %}
{% load geonav_tags %}
<div><span id="locationselect" onclick="$('#side').animate({height:'toggle'},350);">Select Location</span></div>
<div id="side" style="display:none;">
    <ul class="accordion">
        {% render_nav geography location %}
    </ul></div>
