{% block javascripts %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/expand.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.nestedAccordion.js"></script>
<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    $("html").addClass("js");
    $(function() {
      $("#side").accordion({initShow : "#current"});
      $("html").removeClass("js");
    });
    //--><!]]>
</script>
{% endblock %}

<div id="side">
    <ul class="accordion">
    <!-- One kind of wants to automate this recursion.... but at the same time,
    does it really make sense to automate a nav ui? Really? -->
        <li><a href="{% url aggregate geography.code %}">{{ geography.name }}</a></li>
        {% for region in geography.children %}
            <li>{{ region.name }} 
            <ul>
                <!-- e.g. RMS -->
                {% for facility in region.facilities %}
                    <li><a href="{% url stockonhand facility.code %}">{{ facility.name }}</a></li>
                {% endfor %}
                <!-- e.g. Dangme East -->
                {% for district in region.children %}
                    <li>{{ district.name }} <span class="aggregate"><a href="{% url aggregate district.code %}">(&Sigma;)</a></span>
                    <ul>
                        {% for facility in district.facilities %}
                            <!-- e.g. Dangme East District Hospital-->
                            <li><a href="{% url stockonhand facility.code %}">{{ facility.name }}</a>
                            <ul>
                                {% for chps in facility.children %}
                                    <li>{{ chps.name }}</li>
                                {% endfor %}
                            </ul>
                            </li>
                        {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
            </ul>
            </li>
        {% endfor %}
     </ul> <!-- end Example 3 -->

</div>
