{% load geonav_tags %}
{% block internaljs %}
<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    {% if not nav_hide_children %}
    $(document).ready(function(){
        $("#zoom_select").change(function(event) {
            $("#zoom_form > #location").val(event.currentTarget.value);
            $("#zoom_form").submit();
        });
    });
    {% endif %}
    {% if not nav_hide_up %}
    $(document).ready(function(){
        $(".location_parent").click(function(event) {
            $("#zoom_form > #location").val("{{location.tree_parent.code}}");
            $("#zoom_form").submit();
        });
    });
    {% endif %}
    //--><!]]>
</script>
{% endblock %}
<form id="zoom_form" class="noprint" method="POST" action="{% url navigate %}" class="breadcrumb">
    {% csrf_token %}
    <input type="hidden" name="destination_url" id="destination_url" value={{ destination_url }} />
    <input type="hidden" name="location" id="location" value="" />
    <input type="hidden" name="mode" id="mode" value={{ nav_mode|default:"url" }} />
{% if not nav_hide_children %}
    {% if location.get_children %}
        &raquo;
	    <select id="zoom_select" name="zoom_select">
	        <option selected disabled>-----------</option>
	           {% for child in location.get_children %}
	               <option value="{{child.code}}">
	                   {{ child.name }}
	               </option>
	           {% endfor %}
	    </select>
    {% endif %}
{% endif %}
{% if not nav_hide_up %}
    <a class="location_parent breadcrumb" href="#up">Up a level</a>
{% endif %}
</form>
