{% if commodities|length > 1 %}
{% load i18n %}
{% block javascripts %}{{ block.super }}
<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    $(document).ready(function(){
        $(":radio[name='commodity']").click(function() {
              $("#commodity_form").submit();
        });
    });
    //--><!]]>
</script>
{% endblock %}

<form id="commodity_form" method="GET">
    {%  csrf_token %}
    <input class="product_list" type="radio" name="commodity" value="all"
        {% if not commodity_filter %}checked{% endif %}
    >{% trans "All" %}<br>
    {% for commodity in commodities %}
    <input class="product_list" type="radio" name="commodity" value="{{ commodity.sms_code }}"
        {% ifequal commodity_filter commodity.sms_code %}checked{% endifequal %}
    >{{ commodity.name }}<br>
    {% endfor %}
    
</form>
{% endif %}