{% if commodities|length > 1 %}
{% load i18n %}
<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    $(document).ready(function(){
        $(":radio[name='commodity']").click(function() {
              $("#commodity_form").submit();
        });
    });
    //--><!]]>
</script>

<form id="commodity_form" method="GET">
    {% if request.location %}
    <input type="hidden" name="location" value="{{ request.location }}" />
    {% endif %}
    {% if month_pager %}
    <input type="hidden" name="month" value="{{ mp.month }}" />
    <input type="hidden" name="year" value="{{ mp.year }}" />
    {% endif %}


    {%  csrf_token %}
    <input class="product_list" type="radio" name="commodity" value="all"
        {% if not commoditytype_filter %}checked{% endif %}
    >{% trans "All" %}<br>
    {% for commodity in commodities %}
    <input class="product_list" type="radio" name="commodity" value="{{ commodity.sms_code }}"
        {% ifequal commodity_filter commodity.sms_code %}checked{% endifequal %}
    >{{ commodity.name }} 
    {% if location and facility_count > 0 %}
        <a href="{% url by_product location.code %}?commodity={{commodity.sms_code}}">
            <img src="{{ MEDIA_URL }}logistics/images/magnifier.png"></img>
        </a>
    {% endif %}
    <br>
    {% endfor %}
</form>

<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    $(document).ready(function(){
        $(":radio[name='commodity']").click(function() {
              $("#commodity_form").submit();
        });
    });
    //--><!]]>
</script>

{% endif %}
