{% load i18n %}
<h2 id="report-title">
    Reporting Rates 
    {% if facility %}
    	for {{ facility.name }}
   	{% else %}
   		{% if location %}
   		for {{ location.name }}
   		{% endif %}
    {% endif %}
</h2>
{% include "logistics/partials/pie_reporting.html" %}
{% if excel_export %}
<div class="toolbar">
    <a href="{% url export_reporting %}" class="add">{% trans "Export to Excel" %}</a>
</div>
{% endif %}
<div id="report-content">
{% include "logistics/partials/table_reporting.html" %}
</div>