{% extends "logistics/config.html" %}

{% block breadcrumbs %}
{% include "ewsghana/partials/config_submenu.html" %}
{% endblock %}

{% block custom_fields %}
{% if form.initial.primary_reporter %}
    <strong>Please specify which commodities to report</strong><br/>
    {% for product in products %}
        <input type="checkbox" name="{{ product.sms_code }}" id="id_{{ product.sms_code }}"
            {% if object %}
                {% if product.pk in form.initial.commodities %}
                    checked="checked"
                {% endif %}
            {% endif %}
        >{{product.name}}</input><br/>
    {% endfor %}
    <p/>
{% endif %}
{% endblock %}

{% block post_notes %}
{% if not form.initial.primary_reporter %}
    Before you can specify commodities, you must register SMS stock reporters for this facility
    and designate a primary reporter.<br/>
{% endif %}
{% if form.initial %}
<div class="end_note"><strong>
    <a href="{% url ewsghana_sms_registration %}{% if form.initial %}?supplypoint={{form.initial.code}}{% endif %}">
        Register SMS Users
    </a></strong>
</div>
{% endif %}
{% endblock %}
