{% extends "logistics/base.html" %}
{% load forms_tags %}
{% load nav_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}

{% block breadcrumbs %}
{% include "ewsghana/partials/config_submenu.html" %}
{% endblock %}

{% block content %}
<div class="module">
    {% include "logistics/partials/breadcrumbs.html" %}
    <h2>Facilities in {{request.location.name}}</h2>
	{{ table.as_html }}
</div>
{% endblock %}

