{% extends "logistics/reports_base.html" %}

{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.stack.js"></script>
{% endblock %} 

{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
{% endblock %}

{% block imports %}
    {% include "imports/jquery-ui.html" %}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/daterange.js"></script>
{% endblock %}

{% load i18n %}
{% load logistics_report_tags %}
{% load logistics_tags %}
{% load nav_tags %}

{% block content %}
	{% include "ewsghana/partials/config_submenu.html" %}
    <div class="module">
		<span class="noprint">
			<div class="breadcrumbs">
			    {% breadcrumbs facility.location %}
			</div>
		</span>
        <h2>{{facility.name}}</h2>
            <table class="summary">
                <tr><td class="prompt">{% trans "Supplied By" %}: </td><td>{{facility.supplied_by}}</td></tr>
                <tr><td class="prompt">{% trans "Supervised By" %}: </td><td>{{facility.supervised_by}}</td></tr>
                <tr><td class="prompt">{% trans "Last Reported" %}: </td><td>{{facility.last_reported}}</td></tr>
                <tr><td class="prompt">{% trans "Internal ID" %}: </td><td>{{facility.pk}}</td></tr>
            </table>

        <h2>{% trans "Contacts" %}</h2>
        <table>
            <thead>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Role' %}</th>
                <th>{% trans 'Phone' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'Gets Reminders' %}</th>
                <th>{% trans 'Reports On' %}</th>
            </thead>
            <tbody>
                {% for contact in facility.contacts %}
                <tr class="">
                    <td><a href="{% url registration_edit contact.pk %}">{{ contact.name }}
                        {% if contact == facility.primary_reporter %}*{% endif %}
                        </a>
                    </td>
                    <td>{% blocktrans with contact.role as role%}{{ role }}{% endblocktrans %}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td><input type="checkbox" {% if contact.needs_reminders %}checked{% endif %} DISABLED /></td>
                    <td>{% if stocked_by == 'product' %}
                            {% for commodity in active_stocks %}
                            {{ commodity.code }}
                            {% endfor %}
                        {% else %}{% if stocked_by == 'facility' %} 
                            {% for commodity in facility.commodities_stocked %}
                            {{ commodity.code }}
                            {% endfor %}
                        {% else %}
	                        {% for commodity in contact.commodities.all %}
	                    	{{ commodity.code }}
	                    	{% endfor %}
	                    {% endif %}{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        *This is the primary reporter for this facility.<br/>
        
        &nbsp;
        <h2>{% trans "Inventory" %}</h2>
        <table>
            <thead>
                <th>{% trans "Product" %}</th>
                <th>{% trans 'Months of Stock' %}</th>
            </thead><tbody>
            {% for stock in facility.product_stocks %}
                <tr><td>{{ stock.product.name }}</td><td><span>{{ stock.months_remaining }}</span></td></tr>    
            {% endfor %}                
            </tbody>
        </table>

        <br />
        <span style="margin-top:10px;"><a href="{% url registration %}">{% trans 'Add a contact' %} &raquo;</a></span><p/>
        <span style="margin-top:10px;"><a href="{% url facilities_list %}">{% trans 'Back to facility list view' %} &raquo;</a></span>
    </div>
{% endblock %}
