{% extends "layout.html" %}
{% load i18n %}

{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}ewsghana/stylesheets/help.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/logistics.css" />
{% endblock %}

{% block content %}
        <div class="module">
            <h2>{% trans 'Documentation' %}</h2>
            <!--<div class="toolbar">
                <a href=""></a>
            </div>-->    
            <ul class="downloads">
                <li class="pdfe"><a href="{{ MEDIA_URL }}ewsghana/help/sms_quickstart.pdf">SMS Quick Start Guide (100 KB)</a>
                    {% include "ewsghana/partials/get_acrobat.html" %}
                </li>
                <li class="pdfe"><a href="{{ MEDIA_URL }}ewsghana/help/web_quickstart.pdf">Web Quick Start Guide (350 KB)</a>
                    {% include "ewsghana/partials/get_acrobat.html" %}
                </li>
                <li class="doc"><a href="{{ MEDIA_URL }}ewsghana/help/sms_manual.docx">SMS Training Manual (350 KB)</a></li>
                <li class="doc"><a href="{{ MEDIA_URL }}ewsghana/help/web_manual.docx">Web Training Manual (1 MB)</a></li>
            </ul>
        </div>
{% endblock %}
