{% extends "layout-split-2.html" %}
{% block title %}Goodbye{% endblock %}
{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/logistics.css" />
{% endblock %}
{% block content %}

<h1>Thanks for visiting the Early Warning System</h1>

<p>Please come again.</p>

<a href="{% url rapidsms-login %}">Log in again</a>

{% endblock %}

{% block footer %}
<div id="footer">
	<p class="rights">
		<img src="{{ MEDIA_URL }}ewsghana/images/usaid_logo.png"></img><br/>
		<a href="http://www.rapidsms.org/">RapidSMS</a> is available under
		<a href="http://github.com/rapidsms/rapidsms/raw/master/LICENSE">the BSD license</a>.
	</p>
</div>
{% endblock %}