div.module ul {
    list-style: none;
}


div.module ul.alerts li {
    padding: 7px 0 5px 26px;
    background-image: url(/static/tanzania/img/icons/exclamation_trans_bg_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px 5px;
}

div.module ul.downloads li {
    padding: 7px 0 5px 26px;
    background-image: url(/static/tanzania/img/icons/word_icon.gif);
    background-repeat: no-repeat;
    background-position: 3px 5px;                         
}

.module .recentNote {
    padding-left: 10px;
}

.module .recentNote p.noteText {
    font-style:italic;
}

.module .recentNote p.noteByLine {
    padding-left:17px;
}

.contactGroupHeader {
  font-weight: bold;
  padding: 7px;
}

div.module h2.contactGroup {
  color: white;      
  background-color: gray;
  background-image: none;                    
}

.r_and_r_not_submitted_facility_to_district, 
.delivery_not_received_facility, 
.r_and_r_reminder_sent_facility, 
.delivery_received_reminder_sent_facility,
.zero_count,
.no_delivery_status_reported,
.supervision_not_received_facility,
.supervision_reminder_sent_facility {
   color: red;
}


.exceeds_max,
.supervision_received_facility,
.randr_submitted_facility_to_district,
.soh_reported_on_time { 
   color: green;
}

.under_min,
.soh_not_reported {
   color: red;
}

.randr_submitted_facility_to_district_wrong_date,
.soh_reported_late {
   color: orange;
}

.not_reported,
.insufficient_data {
   color: gray;
}

div.welcome {
   float: right;
}

div.crumbs {
   float: left;
}

div.crumbs, div.welcome {
   margin-top: 10px;
   font-size: 2em;
}

/* borrowed from the schools app */

.module {
    background: #f8f8f8;
}

    .module.map {
    }

    .module ul,
    .module li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .module ul {
        padding: 0.5em;
        padding-top: 0;
        margin: 0.5em 0;
        overflow-y: auto;
        overflow-x: auto;
    }

        .module li {
            display: block;
            border: 1px solid #ddd;
            margin-top: 0.5em;
            padding: 0.5em;
            background: #fff;
        }

        .module li:first-child {
            margin-top: 0; }

        .module li div.meta,
        .module li div.caption {
        }

        .module li div.report {
            font-size: 2em;
            line-height: 1.2;
            border-bottom: 1px dotted #eee;
            margin-bottom: 0.25em;
            padding-bottom: 0.25em;
        }


ul.reports {
}

    ul.reports div.report strong {
        font-weight: normal;
        background: #ffd;
    }

    ul.reports div.meta {
        color: #aaa;
    }


ul.stats {
        text-align: center;
}

    ul.stats li span {
        font-size: 50%;
        color: #aaa;
    }

    ul.stats li span.total {
        font-size: 100%;
    }


.split-3, .split-2 {
    margin-top: 1em;
}

/* split a section into THREE */

#inner div.split-3 {
    padding: 0 1em;
}

#inner div.split-3 .left {
    margin-left: -1em;
    float: left;
    border: none;
    width: 33%;
}

#inner div.split-3 .mid {
    margin-right: 1em;
    margin-left: 1em;
    float: left;
    border: none;
    width: 34%;
}

#inner div.split-3 .right {
    margin-right: -1em;
    float: right;
    border: none;
    width: 33%;
}

    /* split a section vertically in
    * half, with some css hackery */
    #inner div.split,
    #inner div.split-2 {
        padding: 0 0.5em;
    }
    
    /* TODO: explain the margins! */
    #inner div.split .left,
    #inner div.split-2 .left {
        margin-left: -0.5em;
        float: left;
        border: none;
        width: 50%;
    }

#inner div.split .right,
#inner div.split-2 .right {
    margin-right: -0.5em;
    float: right;
    border: none;
    width: 50%;
}

#mapLegend {
    padding: 20px 0 20px 445px;
}
#mapLegend span {
    padding-right: 15px;
    margin-left: 20px;
}

#mapLegend span.stockedOut {
    background-image: url(/static/ilsgateway/images/stockout.png);
    background-repeat: no-repeat;                         
}

#mapLegend span.notStockedOut {
    background-image: url(/static/ilsgateway/images/no_stockout.png);
    background-repeat: no-repeat;                         
}

#mapLegend span.noData {
    background-image: url(/static/ilsgateway/images/no_data.png);
    background-repeat: no-repeat;                         
}

div.highlightedMessage {
  background: green;
  font-weight: bold;
  margin: 50px;
  padding: 10px;                        
}

.messages {
    list-style-type: none;
    margin-top: 1em;
}

/* stolen from blueprint */
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
