
/* Vertical Tabs
----------------------------------*/
/*.ui-tabs-vertical { width: 90%; }*/
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; overflow: visible;}
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 75%;}

.side-tabs {
    width: 10%;
    float:left;
    overflow: visible;
    padding: .2em;
}

.side-tabs ul {
    list-style:  none;
}

.side-tabs li {
    margin: 5px;
    border: 1px solid black;
    padding-left: 10px;
    width: 100%;
    line-height: 28px;
}

.side-tabs li selected {
    font-weight: bold;
}

.side-tabs li a {
    display: block;
}

.report-content {
    border-right: 1px solid black;
    float:right;
    width: 85%;
    padding: 1em;
}