{% extends "malawi/new/management_base.html" %}
{% block title %}Places - {{ block.super }}{% endblock %}
{% block subcontent %}

<div class="module">
	<h2>Upload Places</h2>
	<br>
	<a href="{{ MEDIA_URL }}malawi/resources/health_centers.csv">Download current Supply Point list</a>
	<br><br>
	<form id="upload-form" name="uploadForm" method="post" action="{{ upload_link }}" enctype="multipart/form-data">
        <button type="submit">Choose File</button>
        <button type="submit">Upload</button>
        <div class="clear"></div>
	</form>

	<a href="upload/">Upload new Supply Point list</a>
</div>

{% endblock %}