{% extends "malawi/management_base.html" %}
{% block title %}Telco Tracking - {{ block.super }}{% endblock %}
{% block subcontent %}
<div style="clear:both;">
    <form method="get" id="selector">
        <fieldset>
        {% include "malawi/new/partials/month-selector.html" %}
        </fieldset>
        <input type="submit" value="Go!" />
    </form>
</div>
<div class="module">
    <h2>Telco Tracking {% if request.datespan %}({{ request.datespan }}){% endif %}</h2>
    <div class="toppadded">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th colspan="3">TNM</th>
                    <th colspan="3">Airtel</th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>in</th>
                    <th>out</th>
                    <th>total</th>
                    <th>in</th>
                    <th>out</th>
                    <th>total</th>
                </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    {% for val in result %}<td>{{ val }}</td>{% endfor %}
                </tr>
            {% endfor %}        
            </tbody>

        </table>
    </div>
</div>
{% endblock %}