[submodule "rapidsms"]
	path = rapidsms
	url = git://github.com/dimagi/rapidsms.git
[submodule "submodules/django-cpserver"]
	path = submodules/django-cpserver
	url = git://github.com/lincolnloop/django-cpserver
