.project
.pydevproject
.idea
.settings
*.pyc
*.pyo
*.db
*.swp
*~

docs/_build/*
static_root/*
logistics_project/localsettings.py
logistics_project/logistics.log*
logistics_project/apps/malawi/tests/testscripts/*
logistics_project/apps/tanzania/tests/testscripts/*
