.project
.pydevproject
.idea
.settings
*.pyc
*.db
*.swp
*~
ve/*
localsettings.py
logistics.log.*
logistics_project/localsettings.py
logistics_project/logistics.log.*
logistics_project/apps/malawi/tests/testscripts/*
logistics_project/apps/tanzania/tests/testscripts/*
