Django==1.11.29
mysqlclient
celery==4.4.0
django-nose==0.1.3
django-redis==4.5.0
django-taggit==0.17.6
djappsettings==0.4.0
nose
nose-exclude
python-dateutil==2.8.2
python-memcached
supervisor
requests==2.4.3  # cz: pretty sure we can remove this
django-picklefield==0.2.0
sentry-sdk==0.17.7  # pinned for celery issue https://github.com/getsentry/sentry-python/issues/844
future
