Django==3.1.14
mysqlclient
celery==4.4.0
django-redis==5.2.0
django-taggit==1.5.1
djappsettings==0.4.0
gviz_api
python-dateutil==2.8.2
python-memcached
supervisor
requests==2.4.3  # cz: pretty sure we can remove this
django-picklefield==0.2.0
sentry-sdk==0.17.7  # pinned for celery issue https://github.com/getsentry/sentry-python/issues/844
future
gunicorn
