<!DOCTYPE html>
{% load region_tags %}
{% load malawi_tags %}
{% load i18n %}
<html>
<head>
	<title>{% block title %}cStock{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% block stylesheets %}
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/layout.css" />
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/splits.css" />
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/modules.css" />
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/tables.css" />
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/forms.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}rapidsms/stylesheets/icons.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}malawi/css/malawi.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}malawi/css/malawi-new.css" />
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="{{ MEDIA_URL }}rapidsms/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}rapidsms/javascripts/collapse.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/printable.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38854919-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
{% endblock %}
{% block imports %}
    {% include "imports/jquery-ui.html" %}
{% endblock %}
</head>
<body>
	<div id="wrapper">
		{% region "top" %}
		{% block header %}
		{% if request.user.is_authenticated %}
	        {% if logistics_user_profile.can_view_hsa_level_data and logistics_user_profile.can_view_facility_level_data %}
	        <div style="background-color: #1085d8; font-size: 2em; color: black; text-align: right;">
	            <p style="margin: 0px;">
	                {% if logistics_user_profile.current_dashboard_base_level == 'h' %}
	                <span>Viewing HSA Data</span> | <a style="color: white;" href="{% url 'set_current_dashboard' %}?base_level=f">Switch to EPI View</a>
	                {% else %}
	                <span>Viewing EPI Data</span> | <a style="color: white;" href="{% url 'set_current_dashboard' %}?base_level=h">Switch to HSA View</a>
	                {% endif %}
	            </p>
	        </div>
	        {% endif %}
		{% endif %}
		<div id="header" class="noprint">
			<div id="branding">
				<h1>
					<a title="{% trans "Return to the Dashboard" %}" href="{% url 'rapidsms-dashboard' %}">
                        <span>
                            <img src="{{ MEDIA_URL }}malawi/images/cstock-logo.png" alt="cStock" style="height: 60px; width: auto;">
						</span>
					</a>
                    <span style="float: right;">
                        <img src="{{ logo_left_url }}" style="height: 60px;" />
                        <img src="{{ logo_right_url }}" style="height: 60px;" />
                        {% if logistics_user_profile.current_dashboard_base_level == 'f' %}
                        <img src="/static/malawi/images/save_logo.png" style="height: 60px;" />
                        {% endif %}
                    </span>
				</h1>
			</div>

			{% block auth %}
			<div id="auth">{% if request.user.is_authenticated %}
				<a href="{% url 'rapidsms-logout' %}">{% trans "Log out" %} {{ request.user.username }}</a>{% else %}
				<a href="{% url 'rapidsms-login' %}">{% trans "Log in" %}</a>{% endif %}
			</div>
			{% endblock %}

			{% get_malawi_tabs as tabs %}
			<ul id="tabs">{% for tab in tabs %}{% if tab.visible %}
				<li class="app-{{ tab.caption_slug }}{% if tab.is_active %} active{% endif %}">
					<a href="{{ tab.url }}"><span>{{ tab.caption }}</span></a>
				</li>{% endif %}{% endfor %}
			</ul>

			{% block page_tabs %}
			{% endblock %}
		</div>
		{% endblock %}

		{% if messages %}
             <ul class="messages">
                 {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                 {% endfor %}
             </ul>
           {% endif %}
           
		{% block breadcrumbs %}{% if breadcrumbs %}
		<div id="breadcrumbs">{% for caption, url in breadcrumbs %}
			<a href="{{ url }}">{{ caption }}</a>{% if not forloop.last %}
			<span>&raquo;</span>{% endif %}{% endfor %}
		</div>{% endif %}
		{% endblock %}

		<div id="inner">
			{% block content %}{% endblock %}
		</div>

		{% block footer %}
		<div id="footer" class="noprint">
			<p class="rights">
				<a href="http://www.rapidsms.org/">RapidSMS</a> is available under
				<a href="http://github.com/rapidsms/rapidsms/raw/master/LICENSE">the BSD license</a>.
			</p>
			
			{% region "footer" %}
		</div>
		{% endblock %}

		{% region "bottom" %}
	</div>
</body>
</html>
