{% extends base_template %}
{% block content %}
<h2>How to get help</h2>
<p>For basic documentation, please refer to 
<a href="https://confluence.dimagi.com/display/CSTOC/User+Manual+for+cStock" target="_blank">the online cStock User Manual</a>.  
There is also PDF version of the manual <a href="{{ STATIC_URL }}malawi/doc/User Manual cStock.pdf" target="_blank">available for download</a>.</p>
<p>If you are having problems with the cStock system, please contact the administrators.</p>
<ul>
    <li><h3>Email:</h3><ul>
        <li>Clifford Dedza: cdedza@gmail.com</li>
        <li>Charles Chimenya: charleschimenya@yahoo.com</li>
        <li>Boniface Chimphanga: bchimphanga@jsimw.com</li>
        </ul>
    </li>
    <li><h3>Phone/SMS:</h3><ul>
        <li>Clifford Dedza: <ul><li>+265 999 898 454</li></ul></li>
        <li>Charles Chimenya: <ul><li>+265 992 117 070</li></ul></li>
        <li>Boniface Chimphanga: <ul><li>+265 999 615 869</li><li>+265 881 514 765</li></ul></li>
        </ul>
    </li>
</ul>
{% endblock %}
