{% extends base_template %}
{% block content %}
<div class="subnav">
    <ul>
	    <li><a href="{% url malawi_organizations %}">Organizations</a></li>
	    <li><a href="{% url malawi_contacts %}">Contacts</a></li>
	    <li><a href="{% url malawi_permissions %}">User Permissions</a></li>
	    <li><a href="{% url malawi_places %}">Places</a></li>
	    <li><a href="{% url malawi_products %}">Products</a></li>
	    <li><a href="{% url malawi_sms_tracking %}">SMS Tracking</a></li>
	    <li><a href="{% url malawi_telco_tracking %}">Telco Tracking</a></li>
    </ul>
</div>
{% block subcontent %}{% endblock %}
{% endblock %}