{% extends "malawi/management_base.html" %}
{% block title %}Manage Facilities - {{ block.super }}{% endblock %}
{% block stylesheets %}{{ block.super }}
<style type="text/css">
    div#facility-upload ol li {
        padding: .3em;
    }
    input {
        padding: .2em .4em;
    }
    form#fac-upload {
        padding: .8em;
        margin-top: 1em;
    }
</style>
{% endblock %}
{% block subcontent %}
<div class="module" id="facility-upload">
    <h3>Manage Facilities</h3>
    <p>To update the list of facilities:</p>
    <ol>
        <li>Download the <a href="{% url 'download_facilities' %}">current facility list</a>.</li>
        <li>Edit the document as necessary. You can add new lines or edit existing lines. Make sure to preserve columns and format.</li>
        <li>If you want the upload to go faster, delete any rows you don't want to change.</li>        
        <li>When you're ready, upload the document here.</li>
    </ol>
    <form id="fac-upload" action="{% url 'upload_facilities' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Update facilities"></input>
    </form>
</div>
{% endblock %}
