{% extends base_template %}
{% load malawi_warehouse_tags %}
{% block stylesheets %}{{ block.super }}
    <style>
        a.action {
            display: block;
            padding-top: .5em;
        }
    </style>
{% endblock %}
{% block imports %}
    {% include "imports/jquery-ui.html" %}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/daterange.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}malawi/js/table2CSV.js"></script>
{% endblock %}
{% block content %}
<div class="subnav">
    <ul>
        <li><a href="{% url 'malawi_organizations' %}">Organizations</a></li>
        <li><a href="{% url 'malawi_contacts' %}">Contacts</a></li>
        <li><a href="{% url 'malawi_manage_hsas' %}">HSAs</a></li>
        <li><a href="{% url 'malawi_permissions' %}">User Permissions</a></li>
        <li><a href="{% url 'malawi_places' %}">Places</a></li>
        <li><a href="{% url 'malawi_products' %}">Products</a></li>
        <li><a href="{% url 'malawi_sms_tracking' %}">SMS Tracking</a></li>
        <li><a href="{% url 'malawi_telco_tracking' %}">Telco Tracking</a></li>
        <li><a href="{% url 'malawi_manage_facilities' %}">Manage Facilities</a></li>
{% if request.user|is_district_user %}
        <li><a href="{% url 'malawi_manage_outreach' %}">SMS</a></li>
{% endif %}

    </ul>
</div>
{% block subcontent %}{% endblock %}
{% endblock %}
