{% extends base_template %}
{% block javascripts %}
    <!--[if IE]><script type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/jquery.flot.stack.js"></script>
{% endblock %} 

{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}logistics/stylesheets/logistics.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}logistics/stylesheets/reports.css" />
{% endblock %}

{% block imports %}
    {% include "imports/jquery-ui.html" %}
    <script type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/daterange.js"></script>
{% endblock %}

{% block content %}
<span class="noprint">
    <div class="topbar-right">
        <a style="cursor:pointer;" onclick="$.fn.printableview()">Print Report</a>
    </div>
<div style="clear:both;">
    {% if request.datespan != "current" %}
{% include "malawi/partials/selector_form.html" %}
    {% endif %}
</div>
</span>
<div class="module">
  <h2>{{ report.definition.description }} {% if request.datespan %}({{ request.datespan }}){% endif %}</h2>
  <div class="toppadded scrollable">
    {{ report.get_report_body|safe }}
  </div>
</div>
{% endblock %}
