{% extends base_template %}

{% load logistics_report_tags %}
{% load malawi_tags %}

{% block title %}HSA Summary for {{ hsa.name }} - {{ block.super }}{% endblock %}
{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/logistics.css"/>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css"/>
{% endblock %}

{% block javascripts %}{{ block.super }}
    {% include "logistics/googlecharts/stock_chart_js.html" %}
{% endblock %}

{% block imports %}
    {% include "imports/jquery-ui.html" %}
{% endblock %}

{% block content %}

    <span class="noprint">
    <div class="topbar-right">
        <a style="cursor:pointer;" onclick="$.fn.printableview()">Print Report</a>
    </div>
</span>
    <div class="breadcrumbs">
        {% breadcrumbs hsa.supply_point.location %}
    </div>

    {% if not hsa.is_active %}
        <div class="error">
        This HSA is not active!  To reactivate this HSA, click <a href="{% url 'reactivate_hsa' hsa.supply_point.code hsa.supply_point.name %}">here</a>.<br/>
        To register a new HSA with this data, have the HSA text "<b>register <i>name</i> {{ id_str }}</b>".

        </div>
    {% endif %}

    <div class="module">
        <span class="noprint">
            <h2>Historical Months of Stock Levels for {{ hsa.supply_point.name }}</h2>
            {% if hsa.supply_point.productstock_set.count %}
                {% if chart_data %}
                    <div id="chart_div"></div>
                {% endif %}
                </span>
                <h2>Current Stock Levels</h2>
                {% stockonhand_table hsa.supply_point %}
            {% else %}
                <div class="error">
                    <p>{{ hsa.name }} has not been configured with the appropriate stock or submitted any stock on hand
                        reports yet.</p>

                    <p>Please contact the system administrator for help.</p>
                </div>
            </span>
            {% endif %}

        <div class="toppadded">
            <h2>Order Response Times</h2>
            {{ stockrequest_table.as_html }}
        </div>

            <div class="two-columns toppadded">
                <div class="col-1">
                    <h2>Recent Messages</h2>
                    {% recent_messages hsa %}
                    <p><a href="{% url 'rapidsms.contrib.messagelog.views.message_log' %}?contact={{ hsa.pk }}">All messages to or from {{ hsa.name }}</a></p>
                </div>
                <div class="col-2">
                                <h2>HSA Details</h2>
            <table class="summary">
                <tr>
                    <td class="prompt">Facility:</td>
                    <td>
                        <a href="{% place_url hsa.supply_point.supplied_by.location %}">{{ hsa.supply_point.supplied_by }}</a>
                    </td>
                </tr>
                <tr>
                    <td class="prompt">Phone Number:</td>
                    <td>{{ hsa.phone }}</td>
                </tr>
                <tr>
                    <td class="prompt">Code:</td>
                    <td>{{ hsa.supply_point.code }}</td>
                </tr>
                <tr>
                    <td class="prompt">Products:</td>
                    <td>{% if hsa.commodities.count %}{{ hsa.commodities.all|join:", " }}{% else %}<span
                            class="inline-error">none configured</span>{% endif %}</td></tr>
                {% if request.user.is_superuser %}
                <tr>
                    <td class="prompt"><i>Superuser</i>:</td>
                    <td><a href="{% url 'deactivate_hsa' hsa.pk %}">Deactivate HSA</a></td>
                </tr>
                {% endif %}
            </table>
                </div>
            </div>
    </div>
{% endblock %}
