{% extends "malawi/management_base.html" %}
{% block title %}SMS Tracking - {{ block.super }}{% endblock %}
{% block subcontent %}
<div style="clear:both;">
    <form method="get" id="selector">
        <fieldset>
        {% include "malawi/new/partials/month-selector.html" %}
        </fieldset>
        <input type="submit" value="Go!" />
    </form>
</div>
<div class="module">
<h2>SMS Tracking {% if request.datespan %}({{ request.datespan }}){% endif %}</h2>
<div class="toppadded">
<table>
    <thead>
        <tr>
            <th>Organization</th>
            <th>Inbound Messages</th>
            <th>Outbound Messages</th>
        </tr>
    </thead>
    <tbody>
{% for org, vals in organizations.items %}
        <tr>
            <td>{{ org.name }}</td>
            <td>{{ vals.inbound|default:0 }}</td>
            <td>{{ vals.outbound|default:0 }}</td>
        </tr>
{% endfor %}        
    </tbody>
</table>
</div>
</div>
{% endblock %}