{% load geonav_tags %}
{% block javascripts %}{{block.super}}
<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    $(document).ready(function(){
        $(".location_select").change(function(event) {
			$("#location").val(event.currentTarget.value)
            $("#location_form").submit();
        });
    });
    //--><!]]>
</script>
{% endblock %}

<div id="topnav">
<form style="border-style:none;" id="location_form" method="POST" action="{% url navigate %}">
	{% csrf_token %}
	{% render_bread_nav location %}
	<input type="hidden" name="destination_url" id="destination_url" value="reporting" />
	<input type="hidden" name="location" id="location" value="" />
</form>
</div>

<div style="clear:both"></div>
