<table class="legend-table">
    <thead><tr>
    <th colspan="2"> Legend</th></tr>
    </thead>
    <tbody>
    <tr><td><img src="{{ MEDIA_URL }}logistics/images/overstock.png"></td><td>Overstock</td></tr>
    <tr><td><img src="{{ MEDIA_URL }}logistics/images/goodstock.png"></td><td>Good</td></tr>
{#    <tr><td><img src="{{ MEDIA_URL }}logistics/images/warning.png"></td><td>Low</td></tr>#}
    <tr><td><img src="{{ MEDIA_URL }}logistics/images/emergency.png"></td><td>Emergency</td></tr>
    <tr><td><img src="{{ MEDIA_URL }}logistics/images/stockout.png"></td><td>Stockout</td></tr>
    </tbody>
</table>
