<h2>Order Response Statistics{% if location %} for {{ location.name }}{% endif %}</h2>
<div>
<table width="100%">
    <thead>
        <tr>
	        <th>Supply Point</th>
	        <th>Total Requests</th>
	        <th>Pending Response</th>
	        <th>Stocked Out</th>
            <th>Approved</th>
        </tr>
    </thead>
    <tbody>
        {% for rowdata in data %}
        <tr>
            <td>{{ rowdata.supply_point.name }}</td>
            <td>{{ rowdata.total }}</td>
            <td>{{ rowdata.requested }}</td>
            <td>{{ rowdata.stocked_out }}</td>
            <td>{{ rowdata.approved }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>