{% extends base_template %}
{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/logistics.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}malawi/css/malawi-new-{{ settings.STYLE }}.css" />
{% endblock %}
{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.stack.js"></script>
{% endblock %}
{% block imports %}
    {% include "imports/jquery-ui.html" %}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/daterange.js"></script>
{% endblock %}
{% block content %}
    <div class="side-tabs">
        <ul> 
            {% for report in report_list %}
                {% if report.slug %}
                    <li class="report {% ifequal slug report.slug %}selected{% endifequal %}"><a href="{{ settings.REPORT_URL }}/{{ report.slug }}">{{ report.name }}</a></li>
                {% endif %}
             {% empty %}
                <div class="error">No reports found!</div>
            {% endfor %}
        </ul>
    </div>
    <div class="report-content">
	    <div class="inner">
	    {% block report_content %}{% endblock %}
	    </div>
    </div>
    <div class="sidebar">
        <div class="inner">
            <table>
                <tr><th colspan="2">Number Registered</th></tr>
                <tr><th>Districts</th><td>{{ districts.count }}</td></tr>
                <tr><th>H facilities</th><td>{{ facilities.count }}</td></tr>
                <tr><th>HSAs</th><td>{{ hsas }}</td></tr>
            </table>
            <h4>Current Month Data</h4>
            <p>Reporting Rate: {{ reporting_rate }}</p>
            <table>
                <tr><th colspan="2">National Status</th></tr>
                <tr><th>Product</th><th>% HSAs w Stkout</th></tr>
                {% for product, pct in product_stockout_pcts.items %}                
                    <tr><th>{{ product.sms_code }}</th>
                        <td>{{ pct|floatformat }}%</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}