{% extends base_template %}
{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}logistics/stylesheets/logistics.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}logistics/stylesheets/reports.css" />
{% endblock %}
{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/jquery.flot.stack.js"></script>
{% endblock %}
{% block imports %}
    {% include "imports/jquery-ui.html" %}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/daterange.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}logistics/javascripts/jquery.dataTables.min.js"></script>
{% endblock %}
{% block content %}
{% if show_report_nav %}
    <section class="subtabs">
        <ul> 
            {% for report in report_list %}
                {% if report.slug %}
                    <li class="report {% ifequal slug report.slug %}selected{% endifequal %}">
                        <a href="{% if base_level_is_facility %}{{ settings.EPI_REPORT_URL }}{% else %}{{ settings.REPORT_URL }}{% endif %}/{{ report.slug }}/{{ querystring }}">{{ report.name }}</a>
                    </li>
                {% endif %}
             {% empty %}
                <div class="error">No reports found!</div>
            {% endfor %}
        </ul>
    </section>
{% endif %}
    <div class="report-content">
	    <div class="inner">
        {% if custom_context_failure %}
            <p class="error">
                Something went wrong generating that report.
                Likely there is no data for the period you selected.
                Try again in a few minutes, or try selecting a different date range or facility.
            </p>
        {% endif %}
	    {% block report_content %}{% endblock %}
	    </div>
    </div>
    <div class="sidebar">
        <div class="inner">
            <div id="sidebarFlag"></div>
            <h4>Current National Picture</h4>
            <table>
                <tr><th colspan="2">Number Registered</th></tr>
                <tr><th>Districts</th><td>{{ district_count }}</td></tr>
                <tr><th>H facilities</th><td>{{ facility_count }}</td></tr>
                {% if base_level_is_hsa %}
                <tr><th>{{ base_level_plural_description }}</th><td>{{ hsas }}</td></tr>
                {% endif %}
            </table>
            <table>
                <tr><th>Reporting Rate</th><td>{{ reporting_rate }}</td></tr>
            </table>
            <table>
                <tr><th colspan="3">National Stock Out Rate</th></tr>
                <tr>
                    <th>Product</th>
                    <th>{{ base_level_plural_description }}</th>
                    <th>% SO</th>
                </tr>
                {% for product, pct in product_stockout_pcts.items %}                
                    <tr class="{% cycle 'odd' 'even' %}"><td>{{ product.sms_code }}</td>
                        <td>{{ pct.1 }}</td>
                        <td>{{ pct.0|floatformat }}%</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
