{% extends "malawi/new/base.html" %}
{% load malawi_warehouse_tags %}
{% block javascripts %}{{ block.super }}
<script language="javascript">
$(document).ready(function() {
    bar_options = {                     
       series: {
         lines: { show: true, steps: false },
         bars: { show: true, barWidth: 0.75, align: 'center' }
       },
       xaxis: { 
               ticks: {{ graphdata.xlabels|safe }}
              }, 
       legend: {show: true, container: $("#{{ graphdata.legenddiv }}"), noColumns: 3},
       yaxis: { min: 0,
                max: {{ graphdata.max_value }},
                tickDecimals: 0 },
       y2axis: { min: 0,
                 max: {{ graphdata.max_value }},
                 show: false },
       grid: {show: true,
              tickColor: 'gray',
              backgroundColor: '#FFFFFF',
              hoverable: false,
              autoHighlight:false}
    };
    $.plot($("#{{ graphdata.div }}"), {{ graphdata.data|safe }}, bar_options );    
});
</script>

{% endblock %}
{% block report_content %}

{% include "malawi/partials/selector_form.html" %}

<div class="two-columns">
    <div class="col-1">
        <div class="module">
            <h2>Reporting rates &amp; stockout summary</h2>

            <table>
    		    <thead><tr>
    		        <th>District</th>
    		        <th>Rep Rate</th>
    		        <th>% HSA with at least one stockout</th>
    		    </tr></thead>
    		    <tbody>
        		{% for d, vals in summary_data.items %}
        		    <tr> 
    	       	        <td>{{ d.name }}</td>
    	                <td>{{ vals.reporting_rate|floatformat }}%</td>
    		            <td>{{ vals.stockout_pct|floatformat }}%</td>
    		        </tr>
    		    {% endfor %}        
    		    </tbody>
    		</table>

		</div>
    </div>
    <div class="col-2">
        <div class="module">
        <h2>Alerts</h2>

            <table>
                <thead><tr><th></th><th>% HSAs</th></tr></thead>
                <tbody>
                    <tr>
                        <td>HSA not resupplied due to OS at HC</td>
                        <td>17%</td>
                    </tr>
                    <tr>
                        <td>HSA resupplied but remains below EO</td>
                        <td>23%</td>
                    </tr>
			    </tbody>
            </table>

        </div>
    </div>
</div>

<div class="module">
    <h2>Reporting Rates</h2>
    <div id="{{ graphdata.legenddiv }}" style="width:100%"></div>
    <p>{{ graphdata.yaxistitle }}</p>
    <div id="{{ graphdata.div }}" style="width:{{ graphdata.width }};height:{{ graphdata.height }};" ></div>
    <p style="text-align:center; width:100%;">{{ graphdata.xaxistitle }}</p>
</div>

<div class="module">
    <h2>Current Stock Status by product</h2>
    {% product_availability_summary location pa_width %} 
</div>

{% endblock %}
