{% extends "malawi/new/base.html" %}

{% block report_content %}

{% include "malawi/partials/selector_form.html" %}

<div class="module">
    <h2>Average Lead Times</h2>
    {% include "malawi/new/partials/generic-stack-chart.html" %}
</div>

<div class="module">
	{% with month_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<div class="module">
	<h2>Average Lead Times by Facility</h2>
	{% with lt_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>


{% endblock %}
