{% extends "malawi/new/base.html" %}

{% block report_content %}

<div class="module">
	{% with header_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<div class="module">
	<h2>HSA Reporting Summary</h2>
	{% with report_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<div class="module">
	<h2>Calculated Consumption and Stock Levels</h2>
	{% with table2 as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<div class="module">
	<h2>Order Response Time</h2>
	{% with request_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<br>
<div class="two-columns">
    <div class="col-1">
		<div class="module">
			<h2>Recent Messages</h2>
			{% with msgs_table as table %}
			{% include "malawi/new/partials/generic-table.html" %}
			{% endwith %}
		</div>
		<br>
		{% if contact %}
			<a href="/messagelog/?contact={{ contact.id }}">All messages</a>
		{% endif %}
	</div>
	<div class="col-2">
		<div class="module">
			<h2>HSA Details</h2>
			{% with details_table as table %}
			{% include "malawi/new/partials/generic-table.html" %}
			{% endwith %}
		</div>
	</div>
</div>


{% endblock %}