{% extends "malawi/new/base.html" %}
{% load malawi_warehouse_tags %}
{% block report_content %}

<div class="module">
    <h2>Current Stock Status by product</h2>
    {% product_availability_summary location request.datespan.enddate default_chart_width %} 
	{% with product_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<div class="module">
	{% with district_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<div class="module">
<form method="get" id="selector">
    {% include "malawi/new/partials/product-type-selector.html" %}
    {% include "malawi/new/partials/month-selector.html" %}
    <input type="submit" value="Go!" />
</form>
<h2>HSA Stockouts by Product Category </h2>
{% include "malawi/new/partials/generic-line-chart.html" %}

</div>

{% endblock %}
