{% extends "malawi/new/base.html" %}
{% block report_content %}

<div class="module">
	<h2></h2>
	{% with district_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<div class="module">
	<h2></h2>
	{% with facility_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

<div class="module">
	<h2></h2>
	{% with hsa_table as table %}
	{% include "malawi/new/partials/generic-table.html" %}
	{% endwith %}
</div>

{% endblock %}
