from logistics_project.deployments.malawi.settings_base import *

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "cstock",
        "USER": "root",
        "PASSWORD": "*****",
        "HOST": "localhost",
    }
}

DEBUG = True
