{% extends "logistics/reports_base.html" %}

{% load logistics_extras %}
{% load logistics_report_tags %}
{% load ewsghana_tags %}
{% load i18n %}

{% block javascripts %}
{{ block.super }}
{% include "logistics/googlecharts/stock_chart_js.html" %}
{% endblock %}

{% block content %}
    <div class="module">
        <div class="topbar noprint">
        {% include "logistics/partials/breadcrumbs.html" %}
        {% include "logistics/partials/date_selector_form.html" %}
        </div>
        {% if not excel_export %}
	        <!-- only room for one toprighttoolbar in this town... -->
	        <div class="toolbar noprint">
	        	<a style="cursor:pointer;" onclick="$.fn.printableview()">Print Report</a>
	        </div>
        {% endif %}
        
        <div id="main">
        <h2 id="report-title">Stock for {{ facility.name }}</h2>

        {% if facility.productstock_set.count %}
            {% if excel_export %}
				<div class="toolbar noprint">
				    <a href="{% url export_stock facility.code %}" class="add">Export to Excel</a>
				</div>
		    {% endif %}
                <div id="report-content">

                {% if chart_data %}
                <div id="chart_div" class="noprint"></div>
                {% endif %}
                {% stockonhand_table facility request.datespan %}
                <br/>
                {% if perms.logistics %}
	                <a class="noprint" href="{% url input_stock facility.code %}"><strong>INPUT STOCK</strong> for {{ facility.name }}</a>
                {% else %}
	                {% if request.user.get_profile %}
		                {% ifequal request.user.get_profile.supply_point facility %}
			                <a class="noprint" href="{% url input_stock facility.code %}"><strong>INPUT STOCK</strong> for {{ facility.name }}</a>
		                {% endifequal %}
	                {% endif %}
                {% endif %}
                
                {% if last_requisition %}
                    {% if last_requisition.report_date|during_this_month %}
                       {% if last_requisition.submitted %}
                            <p>RRIRV was submitted for the month of {{ previous_month|date:"F" }}</p>
                        {% else %}
                            <div class='plain_error'><p>RRIRV was <strong>NOT</strong> submitted for the month of {{ previous_month|date:"F" }}</p></div>
                        {% endif %}
	                {% else %}
                        <p>RRIRV: This facility has not indicated whether its RRIRV was submitted for the month of {{ previous_month|date:"F" }}.</p>
	                {%  endif %}
                {% else %}
                    <p>RRIRV: This facility has not indicated whether its RRIRV was submitted for the month of {{ previous_month|date:"F" }}.</p>
                {% endif %}
                
	            </div>


				<div class="end_note">
				    <h4>SMS Users</h4>
				    {% for user in facility.active_contact_set %}
                        {% if perms.logistics %}<a href="{% url ewsghana_registration_edit user.pk %}">{% endif %}
				            {{ user.name }} 
				            {% if perms.logistics %}
				            {% if user.default_connection %}({{ user.default_connection.identity }}){% endif %}
   				            {% endif %}
				        {% if perms.logistics %}</a>{% endif %}
				        
				        
				            {% if not user.is_incharge %}
					            {% if user.last_reported %}
					                reported {{ user.last_reported|date:"M d/y" }}.
					            {% else %}
	                                never reported.
					            {% endif %}
					        {% else %}
					           In Charge
                            {% endif %}
				    <br/>
				    {% endfor %}
				</div>

            {% else %}<p></p>
                <div class="error">
                    <p>{{ facility.name }} has not been configured with the appropriate stock or submitted any stock on hand reports yet.</p>
                    <p>Please contact the system administrator for help.</p>
                </div>
            {% endif %}
        </div>

        <div>
            <h2>Recent Messages</h2>
            {% recent_messages_sp facility %}
            <p><a href="{% url ewsghana_message_log %}?place={{ facility.location.code }}">All Messages</a></p>
        </div>


    </div>
{% endblock %}
