{% extends "registration/base.html" %}

{% block title %}
{% if title %}
{{title}}
{% else %}
Create New User
{% endif %}
{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}

{% block left %}
<div class="module">
	<h2>Registered Web Users</h2>
	<table><thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
		</tr>
	</thead><tbody>
	{% for user in users %}
	{% ifnotequal user.username "admin" %}
		<tr>
			<td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
		</tr>
	{% endifnotequal %}
	{% endfor %}
	</tbody></table>
</div>
{% endblock left %}

{% block right %}
<div class="module">
<!-- Registration request form -->  
<div class="span-12" style="margin-left:auto; margin-right:auto; float:none">
<form class="sfb clear" name="form" method="post" action="">
{% csrf_token %}
<h2>
{% if form_title %}
{{form_title}}
{% else %}
Register a New Web User
{% endif %}
</h2><br/>

{% if form.non_field_errors %}
  <div class="non_field_errors">
  {{ form.non_field_errors }}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  {% if field.errors %}
    <div class="field_errors">
    {{field.errors}}
    </div>
  {% endif %}
  
  <div class="span-5 clear">
	  {{ field.label_tag }}
  </div>
  <div class="span-2">
	  {{ field }}
  </div><br/>

{% endfor %}

<button type="submit">Submit</button>
</form>
</div>
<!-- Registration request form -->  
<div class="span-12" style="margin-left:auto; margin-right:auto; float:none">
<div class="sfb clear">
</div>
</div>
</div>
{% endblock right %}     