<div class="content">
    <h3 class="popup_title">{{ sp.name }}</h3>
    
	<span class="label">Last reported on </span>:<p/>
		<i>&raquo;&nbsp;{{ sp.last_reported|date:"M d, h:i A"|default:"never" }}</i><p/>
    <table>
    	<thead>
    		<th>Product</th>
    		<th>Quantity</th>
    	</thead>
    	{% for stock in productstocks %}
        <tr>
            <td>{{stock.product.name}}</td>
            <td>{{stock.quantity|default_if_none:"no data" }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
