{% extends "registration/base.html" %}
{% load forms_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script>
    $(function() {
        $("#id_role").change(function(event) {
            var role = $("#id_role").val();
            if(role == "{{ hsa_role_id }}" || role == "") {
                $("#id_commodities").removeAttr("disabled");
            } else {
                $("#id_commodities").attr("disabled", "disabled");
            }
        });
        $("#id_role").change();
    });
</script>
{% endblock %}

{% block left %}
<div class="module">
	<form action="/registration/search" method="post">
		{% csrf_token %}
		<input type="text" placeholder="Search for user" name="search_term" />
		<input type="submit" name="submit" value="Search" />
	</form>
</div>

<div class="module">
	<h2>SMS Users</h2>
	{{ contacts_table.as_html }}{% if contact %}

	<div class="toolbar">
		<a href="{{ registration_view }}" class="add">Add a SMS User</a>
	</div>{% endif %}
</div>
{% endblock %}

{% block right %}
<div class="module">
	<h2>{% if contact %}
		Edit {{ contact }}{% else %}
		Add a New SMS User{% endif %}
	</h2>

	<form action="" method="post">
		{% render_form contact_form %}
		{% csrf_token %}

		<div class="submit">
			<input type="submit" name="submit" value="Save Contact" />{% if contact %}
			<input type="submit" name="submit" value="Delete Contact" />{% endif %}
		</div>
	</form>
</div>
{% endblock %}
