{% extends "registration/base.html" %}
{% load forms_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}

{% block left %}
<div class="module">
	<form action="/registration/search" method="post">
		{% csrf_token %}
		<input type="text" placeholder="Search for user" name="search_term" />
		<input type="submit" name="submit" value="Search" />
	</form>
</div>
<div class="module">
	<h2>SMS Users</h2>
	{{ contacts_table.as_html }}{% if contact %}

	<div class="toolbar">
		<a href="{{ registration_view }}" class="add">Add a SMS User</a>
	</div>{% endif %}
</div>
{% endblock %}

{% block right %}
<div class="module">
	<h2>{% if contact %}
		Edit {{ contact }}{% else %}
		Add a New SMS User{% endif %}
	</h2>

	<form action="" method="post">
		{% render_form contact_form %}
		{% csrf_token %}

		<div class="submit">
			<input type="submit" name="submit" value="Save Contact" />{% if contact %}
			<input type="submit" name="submit" value="Delete Contact" />{% endif %}
		</div>
	</form>
</div>
{% if bulk_form %}
<div class="module collapsed">
        <h2>Bulk Registration</h2>
	<form action="" method="post" enctype="multipart/form-data">
		{% render_form bulk_form %}
		{% csrf_token %}

		<div class="submit">
			<input type="submit" name="submit" value="Save Contacts" />
		</div>
	</form>
</div>
{% endif %}
{% endblock %}
