Django==1.3
South==0.7.4
celery==2.2.6
django-celery==2.2.4
django-extensions==0.6
django-kombu==0.9.4
django-nose==0.1.3
django-picklefield==0.1.9
django-registration==0.7
django-taggit==0.9.3
djappsettings==0.1.0
djtables==0.1.1
gdata==2.0.17
johnny-cache==0.3.2.1
#mysql-python
nose
nose-exclude==0.1.5
psycopg2==2.4.2
python-dateutil==1.5
python-memcached
pytz==2010b
supervisor==3.0a10
twilio==2.0.10
django-redis==3.3
redis==2.8.0
requests==2.4.3
