<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
<div id="submenu" class="noprint"> 
{% if perms.logistics %}
    <a href="{% url ewsghana_scheduled_reports %}">MY EMAIL REPORTS</a> * 
    <a href="{% url ewsghana_sms_registration %}">SMS USERS</a> * 
    <a href="{% url admin_web_registration %}">WEB USERS</a>
	{% if request.user.is_superuser %} * 
    <a href="{% url facility_view %}">ADD FACILITIES</a> * 
    <a href="{% url facilities_list %}">LIST FACILITIES</a> * 
    <a href="{% url commodity_view %}">COMMODITIES</a>
	{% endif %}
{% else %}	
    <a href="{% url ewsghana_scheduled_reports %}">MY EMAIL REPORTS</a> * 
    <a href="{% url my_web_registration %}">MY ACCOUNT</a>
{% endif %}	
</div>

