/* stealing the rapidsms footer stylesheet to make room for USAID logo */
#footer {
    border-top: 1px dotted #eee;
    padding: 0.5em;
    clear: both;
    color: #ccc;

    /* reserve space for at two lines of links @ LH=1.4 (for the
     * copyright and licensing/download info) */
    min-height: 6.2em;
}

/* override the default rapidsms logo size */
#branding h1 a, #logo_left{
    height: 100px;
    /*width: 245px; */
    display: block;
    border: 0px;
    /*background: url("../images/rapidsms-logo.png") no-repeat 0 50%;*/

    /* float the RapidSMS logo, in case any app would like to
     * append anything to the light blue (empty) stripe */
    float: left;
}

/* the header is based roughly upon unicef.org, with rapidsms colors */
#header {
    background: url("../images/header-bg.png") repeat-x;
    padding-top: 23px;
    padding-bottom: 33px;
    position: relative;
    color: #ccf;
}

/* the following overrides are so we can make everything green */
			#tabs li a,
            #page-tabs li a {
                color: #fff;
                display: block;
                padding: 0 1em;
                background: #2fa5d1 url("../images/tab-bg.png") repeat-x;
                border-right: 1px solid #11dab0;
                border-left: 1px solid #11dab0;
                border-top: 1px solid #11dab0;
                
                /* disable the focus outline on tabs, to avoid a rather
                 * ugly dotted box around tabs while they have focus (we
                 * remain accessible by providing an :focus, later) */
                outline: none;
            }

            /* always highlight the active (in the navigation sense, not
             * the css :active sense) tab, even when it's being hovered
             * or focused, since clicking it again is mostly useless */
            #tabs li.active a,       #page-tabs li.active a,
            #tabs li.active a:hover, #page-tabs li.active a:hover,
            #tabs li.active a:focus, #page-tabs li.active a:focus {

                background: #fff url("../images/tab-bg-active.png") repeat-x;
                text-decoration: none;
                text-shadow: none;
                color: #000;

                /* the same color as the strip in header-bg.png */
                border: 1px solid #cef1f5;
                border-bottom: 0;

                /* nudge the active tab north by one pixel, to line it
                 * up with the tops of the other tabs */
                margin-top: -1px;
            }
                        
            /* brighten up inactive tabs when hovering or tab-focusing
             * with the keyboard (we removed the outline, above) */
            #tabs li a:hover, #page-tabs li a:hover,
            #tabs li a:focus, #page-tabs li a:focus {
                background-image: url("../images/tab-bg-hover.png");
                text-shadow: #cef1f5 0 0 2px;
                text-decoration: none;
            }

.custom_field{
    padding-left: 1em;
}

.edit_link{
    padding-top: 1em;
    padding-left: 1em;
}