.module {
    background: #f8f8f8;
}

.module ul {
    margin: 0.3em 0;
    overflow: auto;
    padding: 0 0.5em 0.5em;
}

.module li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    display: block;
}

.module ul.downloads li {
    padding: 7px 0 5px 26px;
    background-repeat: no-repeat;
    background-position: 3px 5px;         
    margin: 0.5em;
}

.module ul.downloads .doc {
    background-image: url(/static/ewsghana/images/word_icon.gif);
}

.module ul.downloads .pdfe {
    background-image: url(/static/ewsghana/images/pdf_icon.gif);
}

