.error {
    color: red;
    padding: 1em;
}

.big_error {
    color: red;
    padding: 1em;
    font-weight: bold;
}

.smallnote {
    font-size: 0.9em;
    font-style:italic;
}

.note {
	padding: 0.2em;
}

.right {
    float: right;
    display: inline;
    position: relative;
    overflow: hidden;
    right: 10px;
    top: 10px;
    width: 200px;
}


#footer {
    /* stealing the rapidsms footer stylesheet to make room for USAID logo */
    border-top: 1px dotted #eee;
    padding: 0.5em;
    clear: both;
    color: #ccc;

    /* reserve space for at two lines of links @ LH=1.4 (for the
     * copyright and licensing/download info) */
    min-height: 6.2em;
}

