.error {
    color: red;
    padding: 1em;
}

.big_error {
    color: red;
    padding: 1em;
    font-weight: bold;
}

.smallnote {
    font-size: 0.9em;
    font-style:italic;
}

.note {
	padding: 0.2em;
}

.right {
    float: right;
    display: inline;
    position: relative;
    overflow: hidden;
    right: 10px;
    top: 10px;
    width: 200px;
}
