.stockout {
    background-color: red;
}

.emergency {
    background-color: orange;
}

.low_supply {
    background-color: yellow;
}

.good_supply {
    background-color: lightgreen;
}

.overstock {
    background-color: #ffa07a;
}

.stock_col{
    width:12%;
}

#side{
  float:left;
  display:inline;
  width:30%;
  padding-bottom:1.3em;
  position:relative;
  overflow:hidden;
}
#main{
  float:right;
  display:inline;
  width:70%;
  padding-bottom:1.3em;
  position:relative;
  overflow:hidden
}



/* --- Accordion --- */

.accordion {
margin:0 10px 5px 0px;
padding:0 50px 5px 0px;
background-color: #F0F0F0;
}

.accordion li {
list-style-type:none;
margin: 0;
padding: 0.5em;

}

.accordion li a {
color: #1c3482;
}

#side ul.accordion ul {
margin 0px;
padding:0 0 0 5px;
}

/*
a.trigger {display:block; padding-left:20px; background: #efefef url(../images/plus.gif) no-repeat 1px 50%;  font-weight:700}

a.trigger.open {background-image: url(../images/minus.gif); background-color:#e7e7e7; border-style:solid}
*/
