{% load i18n %}

<tbody>{% if rows %}{% for row in rows %}
    <tr>{% for cell in row %}
        <td>{% if cell.column.has_link %}<a href="{{ cell.link }}">{{cell}}</td></a>        
        {% else %}
            {% if cell.column.name == "randr_status" or cell.column.name == "randr_status_date" %}
                <span class="{{ cell.object.randr_status.status_type.short_name }}">{% blocktrans with cell as value %}{{ value }}{% endblocktrans %}</span>
            {% else %}
                {% if cell.column.name == "delivery_status" or cell.column.name == "delivery_status_date" %}
                    <span class="{{ cell.object.delivery_status.status_type.short_name }}">{% blocktrans with cell as value %}{{ value }}{% endblocktrans %}</span>
                {% else %}
                    {% blocktrans with cell as value %}{{ value }}{% endblocktrans %}
                {% endif %}
            {% endif %}
        {% endif %}
        </td>
        {% endfor %}
    </tr>{% endfor %}{% else %}
    <tr class="no-data">
        <td colspan="{{ num_columns }}">
            <p>
                Nothing to display.
            </p>
        </td>
    </tr>{% endif %}
</tbody>
