{% extends base_template %}
{% load i18n %}
{% block title %}Change Language - {{ block.super }}{% endblock %}
{% block content %}
<h2>{% trans "Change your default language" %}</h2>
<div class="module">
    <form action="{% url tz_language_redirect %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="/">
        <select name="language">
            {# can't copy the docs because swahili isn't supported #}
            {% for code, val in LANGUAGES %}
            <option value="{{ code }}">{% trans val %} ({{ code }})</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
        {% trans 'Current language' %}: {{ language }}
    </form>
</div>
{% endblock %}