{% extends base_template %}
{% load i18n %}
{% load webdesign %} 
{% load nav_tags %}

{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.stack.js"></script>
{% endblock %} 

{% block content %}

<!-- TODO: this is ugly -->
{% include "logistics/partials/breadcrumbs.html" %} 

<div class="module noprint">
    <h2>{% trans 'Alerts' %}</h2>
    {% with alerts as alerts %}
        {% include "alerts/partials/alerts.html" %}
    {% endwith %}
</div>

{% include "logistics/partials/month_pager.html" %}

<div class="two-columns toppadded">

    <div class="col-1">
        <div class="module">

            {% with rr_json as chart_data %}
            {% with month_pager.prev_month as last_month %}
                {% include "tanzania/reports/rr_pie_chart.html" %}
            {% endwith %}{% endwith %}

        </div>
    </div>
    <div class="col-2">
        <div class="module">
            
            <!-- TODO: {with} what? -->
            {% include "tanzania/reports/district_summary_dashboard.html" %}
        
        </div>
    </div>
    <div class="clear-hack"></div>
</div>
<div class="two-columns toppadded">
    <div class="col-1">
        <div class="module">

            {% with soh_json as chart_data %}
            {% with month_pager.prev_month as last_month %}
                {% include "tanzania/reports/soh_pie_chart.html" %}
            {% endwith %}{% endwith %}

        </div>
    </div>
    <div class="col-2">
        <div class="module">

            {% with delivery_json as chart_data %}
            {% with month_pager.prev_month as last_month %}
                {% include "tanzania/reports/delivery_pie_chart.html" %}
            {% endwith %}{% endwith %}

        </div>
    </div>
    <div class="clear-hack"></div>
</div>

<div class="module toppadded">
    <h2>{% trans "Product Availability Summary" %}</h2>

    {% with product_json as summary %}
    {% with chart_info as chart_info %}
    {% with total as max_value %}
        {% include "tanzania/reports/product_availability_dashboard.html" %}
    {% endwith %}{% endwith %}{% endwith %}

</div>
{% endblock %}
