{% extends base_template %}
{% load i18n %}
{% load webdesign %} 
{% load alerts_tags %}
{% load cache %}
{% load nav_tags %}
{% load logistics_report_tags %}

{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.stack.js"></script>
{% endblock %} 

{% block content %}

{% include "logistics/partials/breadcrumbs.html" %}

<div class="module noprint">
    <h2>{% trans 'Alerts' %}</h2>
    {% cache 86400 alerts location language %}
    {% alerts request %}
    {% endcache %}
</div>

{% include "logistics/partials/month_pager.html" %}

<div class="two-columns toppadded">

    <div class="col-1">
        <div class="module">


        <h2>{{ randr_title }}</h2>

        {% with randr_json as chart_data %}
        {% with "submission_chart" as chartdiv %}
        {% with "submission_hover" as hoverdiv %}
        {% with "No facilities are due to submit R&R's this month" as no_data_text %}
        

        {% include "logistics/partials/pie_reporting_generic.html" %}
        
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}


        </div>
    </div>
    <div class="col-2">




        {% include "tanzania/partials/district-summary.html" %}
    



    </div>
    <div class="clear-hack"></div>
</div>
<div class="two-columns toppadded">
{#{% cache 10000 sub_data location month_pager.month month_pager.year %}#}
    <div class="col-1">
        <div class="module">


        <h2>{{ soh_title }}</h2>
        {% with soh_json as chart_data %}
        {% with "soh_chart" as chartdiv %}
        {% with "soh_hover" as hoverdiv %}
        
        {% include "logistics/partials/pie_reporting_generic.html" %}
        
        {% endwith %}{% endwith %}{% endwith %}


        </div>
    </div>
    <div class="col-2">
        <div class="module">



        <h2>{{ delivery_title }}</h2>
        {% with delivery_json as chart_data %}
        {% with "delivery_chart" as chartdiv %}
        {% with "delivery_hover" as hoverdiv %}
        {% with "No facilities are reporting deliveries this month" as no_data_text %}
        
        {% include "logistics/partials/pie_reporting_generic.html" %}
        
        {% endwith %}{% endwith %}{% endwith %}{% endwith %}
        



        </div>
    </div>
    <div class="clear-hack"></div>
{#{% endcache %}#}
</div>

<div class="module toppadded">
    <h2>{% trans "Product Availability Summary" %}</h2>


        {% include "logistics/partials/product_availability_summary.html" %}


</div>
{% endblock %}
