{% extends base_template %}

{% load i18n %}
{% load webdesign %} 
{% load alerts_tags %}
{% load cache %}
{% load logistics_report_tags %}

{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.stack.js"></script>
{% endblock %} 

{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/logistics.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
{% endblock %}

{% block imports %}
    {% include "imports/jquery-ui.html" %}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/daterange.js"></script>
{% endblock %}

{% block content %}

<span class="noprint">
    <div class="topbar-right">
        <a style="cursor:pointer;" onclick="$.fn.printableview()">Print Report</a>
    </div>
<div style="clear:both;">
{#{% include "malawi/partials/selector_form.html" %}#}
</div>
</span>

<div class="module noprint">
    <h2>{% trans 'Alerts' %}</h2>
    {% cache 86400 alerts location %}
    {% alerts request %}
    {% endcache %}
</div>
<div class="two-columns toppadded">
    {% cache 1000 reporting_breakdown location %}

    <div class="col-1">
        <div class="module">
            
        </div>

    </div>
    <div class="col-2">
        {% include "tanzania/partials/district-summary.html" %}
    </div>
    <div class="clear-hack"></div>
    {%endcache%}
</div>
<div class="module toppadded">
    <h2>Product Availability Summary</h2>
    {% cache 1000 product_availability location %}
        {% product_availability_summary_by_facility_sp location %}
    {% endcache %}
</div>
{% endblock %}
