{% extends base_template %}

{% load i18n %}
{% load webdesign %} 
{% load alerts_tags %}
{% load cache %}
{% load logistics_report_tags %}

{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.stack.js"></script>
{% endblock %} 

{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
{% endblock %}


{% block content %}

{% include "logistics/partials/selector_form.html" %}
</div>
</span>

<div class="module noprint">
    <h2>{% trans 'Alerts' %}</h2>
    {% cache 86400 alerts location %}
    {% alerts request %}
    {% endcache %}
</div>

{% include "logistics/partials/month_pager.html" %}

<div class="two-columns toppadded">

    <div class="col-1">
        <div class="module">
         <h2>{{ sub_data.submission_chart.title }}</h2>
        {% with sub_data.submission_chart.data as chart_data %}{% with "submission_chart" as chartdiv %}{% with "submission_hover" as hoverdiv %}
        {% include "logistics/partials/pie_reporting_generic.html" %}
        {% endwith %}{% endwith %}{% endwith %}
        </div>

    </div>
    <div class="col-2">
        {% include "tanzania/partials/district-summary.html" %}
    </div>
    <div class="clear-hack"></div>
</div>
<div class="module toppadded">
    <h2>{% trans "Product Availability Summary" %}</h2>
{#    {% cache 1000 product_availability location month_pager.year month_pager.month %}#}
        {% product_availability_summary_by_facility_sp location month_pager.year month_pager.month %}
{#    {% endcache %}#}
</div>
{% endblock %}
