{% extends base_template %}
{% load i18n %}
{% block title %}Edit Ad Hoc Report {{ block.super }}{% endblock %}
{% block content %}
<h2>{% trans "Edit Ad Hoc Report" %}</h2>
<p>Enter a list of recipients to recieve the monthly summary report over email for this district.</p>
<div class="module">
<form method="post" action="">
<table>
    {{ form.as_table }}
</table>
{% csrf_token %}
<input type="submit" name="submit" value="Save Form" />
<input type="submit" name="submit" value="Send Test Messages" />
</form>

</form>
</div>
{% endblock %}