{% extends "tanzania/base.html" %}
{% load nav_tags %}
{% load logistics_report_tags %}
{% load i18n %}

{% block title %}{% trans "Current Stock Status" %}{{ block.super }}{% endblock %}

{% block content %}

    

<div class="crumbs">{% breadcrumbs location %}</div>
<div style="clear:both;">&nbsp;</div>
{% include "logistics/partials/month_pager.html" %}

<div class="toolbar">
    {% include "logistics/partials/selector_form.html" %}
    </div>

{% for products in product_set %}
    <div class="module">
	    <h2>{% trans 'Current Stock Status' %}{% if not forloop.first %} (continued){% endif %}</h2>
	    <div class="toolbar">
	        {% if view_type == 'inventory' %}<a href="{{ mos_link }}">{% trans 'Show months of stock' %}</a>{% else %}<a href="{{ inv_link }}">{% trans 'Show inventory' %}</a>{% endif %}
	    </div>    
        <table>
            <thead><tr>

                <th>MSD Code</th>
                <th>Delivery Group</th>
                <th>Name</th>

            {% for p in products %}
                <th>{{ p.name }}</th>
            {% endfor %}
            </tr>
                </thead>
                <tbody>
                {% for fac in facs %}
            <tr>
                <td>{{ fac.code }}</td>
                <td>{{ fac.groups.all|first }}</td>
                <td>{{ fac.name }}</td>
                {% for p in products %}
                    <td>{% stock fac p %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
{% endfor %}


{% endblock %}