{% extends base_template %}
{% load i18n %}
{% load nav_tags %}
{% load tz_tags %}
{% block title %}{{ facility.name }} Detail{{ block.super }}{% endblock %}
{% block stylesheets %}{{ block.super }}
{% endblock %}
{% block content %}
{{ location_url_func }}
<div class="breadcrumbs">
    {% breadcrumbs facility.location  %}
</div>
<div><h2>{{ facility.name }} ({{ facility.code }}) {% trans 'Group' %} {{ facility.groups.all.0.code }} &raquo; 
<a href="{% url maps_dashboard facility.code %}">{% trans 'see on map' %}</a></h2></div>
<div class="two-columns toppadded">
    <div class="col-1">
        <div class="module">
        <h2>{% trans 'Inventory History' %}</h2>
            <div class="toolbar">   
                <a href="#months_of_stock">{% trans 'show months of stock' %}</a>
                <a href="#inventory">{% trans 'show stock levels' %}</a>
            </div>
            {% comment %}
            ########################################### 
            <div class="inventorySMS">
                <p>{% trans 'Last SMS message received' %}:</p>
                
            {% if facility.last_message_received %}
                <p><i>&raquo;"{{ facility.last_message_received.text }}"</i></p>
                <p>{{ facility.stock_on_hand_last_reported }} {% trans 'by' %} {{ facility.last_message_received.contact.contactdetail.role }} {{ facility.last_message_received.contact }}</p>
            {% else %}
                <p>{% trans 'No inventory messages have been received' %}</p>
            {% endif %}    
            <p><a href="/facilities/{{ facility.id }}/message_history/">{% trans 'See complete SMS message history' %} &raquo;</a></p>
            </div>
            {% endcomment %}
            {% product_inventory facility "inventory" %}
       </div>
    </div>
    <div class="col-2">
        <div class="module">
            <h2>{% trans 'R&amp;R History' %}</h2>
            <div class="toolbar">
                <a href="">{% trans 'see all R&amp;R history' %}</a>
            </div>
            {% if facility.randr_status %}
            <p>
                {% trans 'Status' %}: <span class="{{ facility.randr_status.status_type.short_name }}">{% blocktrans with facility.randr_status as status %}{{ status }}{% endblocktrans %}</span>
            </p>
            <p>
                {% trans "Last updated on" %}: <span class="{{ facility.randr_status.status_type.short_name }}">{{ facility.randr_status.status_date }}</span>
            </p>
            {% else %}
            <p>
                 <span class="no_delivery_status_reported">{% trans 'No delivery status reported' %}</a>
            </p>
            {% endif %}
            </p>
            <p><a href="/docdownload/{{ facility.id }}">{% trans 'Download most recent R&amp;R' %} &raquo;</a></p>
        </div>
        <div class="module">
            <h2>{% trans "Notes" %}</h2>
            {% comment %}
            ########################################### 
            <div class="toolbar">
                <a href="{% url ilsgateway.views.note_history facility.id %}">{% trans 'see all notes' %}'</a>
            </div>
            ########################################### 
            {% endcomment %}
        {% for note in notes %}
            <div class="recentNote">
                <p class="noteText">&raquo; "{{ note.text }}"</span></p>
                <p class="noteByLine">{{ note.created_at }} by {{ note.contact_detail.name }}
            </div> 
        {% endfor %}
            {% comment %}
            ########################################### 
            <form action="{% url ilsgateway.views.facilities_detail facility.id %}" method="post">
            <p>{% trans 'Enter a note for this facility' %}:</p>
            {{ form.as_p }}
            <input type="submit" value="Submit" />
            </form>
            ########################################### 
            {% endcomment %}
        </div>
    </div>
    <div class="clear-hack"></div>
</div>


{% comment %}
    

<div class="split-2">
    <div class="module">
        <h2 class="contactGroup">{% trans "Registration" %}</h2>
        <div class="toolbar">
            <a href="{% url registration %}">{% trans 'see all users' %}</a>
        </div>
        {% for group_name, contacts in contact_groups %}
        <div class="contactGroupHeader">{{ group_name }} {% trans 'Contacts' %}</div>
        <table>
            <thead>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Role' %}</th>
                <th>{% trans 'Phone' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'Primary' %}</th>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr class="">
                    <td>{{ contact.name }}</td>
                    <td>{% blocktrans with contact.role as role%}{{ role }}{% endblocktrans %}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td><input type="checkbox" {% if contact.primary %}checked{% endif %} DISABLED /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        <br />
        <span style="margin-top:10px;"><a href="{% url registration %}">{% trans 'Add a contact' %} &raquo;</a></span>
    </div>
</div>
{% endcomment %}
{% endblock %}