{% extends base_template %}
{% load nav_tags %}
{% load tz_tags %}
{% load logistics_report_tags %}
{% load i18n %}

{% block title %}{% trans "Current Stock Status" %} - {{ block.super }}{% endblock %}
{% block javascripts %}{{ block.super }}
{#<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/stock_init.js"></script>#}
<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/legend_hider.js"></script>
{#<script type="text/javascript">#}
{#    $(function () {#}
{#       stock_init({{ months_minimum|default:"1" }}, {{ months_maximum|default:"3" }});#}
{#    });#}
{#</script>#}
{% endblock %}

{% block content %}


{% include "logistics/partials/month_pager.html" %}
<div style="margin-top: 1em; margin-bottom: 1em;">
{% include "logistics/partials/breadcrumbs.html" %}
</div>

{% average_lead_time facs %}
    
{% include "logistics/partials/combined_legend.html" %}
{% if tables %}
{% include "tanzania/partials/soh_table.html" %}
{% else %}
<p style="margin-top: 1em;" class="notice">In order to view data, please first select a region.</p>
{% endif %}
{% endblock %}