{% extends base_template %}
{% load i18n %}
{% load djtables_tags %}

{% block title %}{% trans "Ordering Status"%}{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>

{#{% include "logistics/partials/month_pager.html" %}#}

    <div style="clear:both;">
{% include "logistics/partials/selector_form.html" %}
</div>
    <div style="clear:both;">&nbsp;</div>

<div class="module">
    <h2>{% trans 'Ordering Status' %}</h2>
    {{ table.as_html }}
</div>
{% endblock %}