{% extends base_template %}
{% load i18n %}
{% load nav_tags %}
{% load tz_tags %}
{% block title %}{{ facility.name }} Detail{{ block.super }}{% endblock %}
{% block stylesheets %}{{ block.super }}
{% endblock %}
{% block content %}
{{ location_url_func }}
<div class="breadcrumbs">
    {% breadcrumbs facility.location  %}
</div>
<div><h2>{{ facility.name }} ({{ facility.code }}) {% trans 'Group' %} {{ facility.groups.all.0.code }} &raquo; 
<a href="{% url maps_dashboard facility.code %}">{% trans 'see on map' %}</a></h2></div>
<div class="two-columns toppadded">
    <div class="col-1">
        <div class="module">
        <h2>{% trans 'Inventory History' %}</h2>
            {% last_sms facility %}
            {% product_inventory facility "inventory" %}
       </div>
    </div>
    <div class="col-2">
        <div class="module">
            <h2>{% trans 'R&amp;R History' %}</h2>
            <div class="toolbar">
                <a href="">{% trans 'see all R&amp;R history' %}</a>
            </div>
            {% if facility.randr_status %}
            <p>
                {% trans 'Status' %}: <span class="{{ facility.randr_status.status_type.short_name }}">{% blocktrans with facility.randr_status as status %}{{ status }}{% endblocktrans %}</span>
            </p>
            <p>
                {% trans "Last updated on" %}: <span class="{{ facility.randr_status.status_type.short_name }}">{{ facility.randr_status.status_date }}</span>
            </p>
            {% else %}
            <p>
                 <span class="no_delivery_status_reported">{% trans 'No delivery status reported' %}</a>
            </p>
            {% endif %}
            </p>
            <p><a href="/docdownload/{{ facility.id }}">{% trans 'Download most recent R&amp;R' %} &raquo;</a></p>
        </div>
        <div class="module">
            <h2>{% trans "Notes" %}</h2>
            The notes functionality has been temporarily disabled. 
        </div>
    </div>
    <div class="clear-hack"></div>
</div>

<div class="module">
    <h2>{% trans "Registration" %}</h2>
    <div class="toolbar">
        <a href="{% url registration %}">{% trans 'see all users' %}</a>
    </div>
    {% contact_list facility "True" 2 %}
</div>
{% endblock %}