{% extends "tanzania/base.html" %}
{% load nav_tags %}
{% load logistics_report_tags %}
{% load i18n %}

{% block title %}{% trans "Current Stock Status" %}{{ block.super }}{% endblock %}
{% block javascripts %}{{ block.super }}
<script type="text/javascript">
    function clear_custom_classes(elem) {
        $(elem).removeClass("insufficient_data zero_count");
    }
    function update_class_by_stock(elem) {
        clear_custom_classes(elem);
        var stock = $(elem).data("stock");
        if (stock == "No data") { 
            $(elem).addClass("insufficient_data");
        } else if (stock == "0") {
            $(elem).addClass("zero_count");
        }
        
    }
    function update_class_by_months(elem) {
        clear_custom_classes(elem);
        var stock = $(elem).data("months");
        if (stock == "N/A") { 
            $(elem).addClass("insufficient_data");
        } else if (stock == "0") {
            $(elem).addClass("zero_count");
        }
        
    }
    $(function() {
        $("#show_stock").hide();
        $("#show_months").click(function() {
            $("td.stock").each(function () {
                $(this).text($(this).data("months"));
                update_class_by_months(this);
            });
            $("#show_stock").show();
            $("#show_months").hide();
            
        });
        $("#show_stock").click(function() {
            $("td.stock").each(function () {
                $(this).text($(this).data("stock"));
                update_class_by_stock(this);
            });
            $("#show_months").show();
            $("#show_stock").hide();
        });
        $("td.stock").each(function () {
            $(this).text($(this).data("stock"));
            update_class_by_stock(this);
        });
            
    });                 
</script>
{% endblock %}

{% block content %}

    

<div class="crumbs">{% breadcrumbs location %}</div>
<div style="clear:both;">&nbsp;</div>
{% include "logistics/partials/month_pager.html" %}

<div class="toolbar">
    {% include "logistics/partials/selector_form.html" %}
    </div>

{% for products in product_set %}
    <div class="module">
	    <h2>{% trans 'Current Stock Status' %}{% if not forloop.first %} (continued){% endif %}</h2>
	    <div class="toolbar">
	        <a id="show_months" href="#months">{% trans 'Show months of stock' %}</a>
	        <a id="show_stock" href="#stock">{% trans 'Show inventory' %}</a>
	    </div>    
        <table>
            <thead><tr>

                <th>MSD Code</th>
                <th>Delivery Group</th>
                <th>Name</th>

            {% for p in products %}
                <th>{{ p.sms_code }}</th>
            {% endfor %}
            </tr>
                </thead>
                <tbody>
                {% for fac in facs %}
            <tr>
                <td>{{ fac.code }}</td>
                <td>{{ fac.groups.all|first }}</td>
                <td><a href="{% url tz_facility_details fac.pk %}">{{ fac.name }}</a></td>
                {% for p in products %}
                    <td class="stock" data-stock="{% stock fac p "No data" %}" data-months="{% months_of_stock fac p "N/A" %}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
{% endfor %}


{% endblock %}