{% extends base_template %}
{% load nav_tags %}
{% load logistics_report_tags %}
{% load tz_tags %}
{% load cache %}
{% load i18n %}

{% block title %}{% trans 'Reports' %} - {{ block.super }}{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />
    <link type="text/css" rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/trunk/ui/jquery.ui.tabs.js" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}tanzania/stylesheets/tz-reports.css" />
{% endblock %}

{% block javascripts %}{{ block.super }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/jquery.ui.tabs.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/stock_init.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/legend_hider.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.stack.js"></script>


    <script type="text/javascript">
        $(function () {
            stock_init({{ months_minimum|default:"1" }}, {{ months_maximum|default:"3" }});
        });
        $(function() {
            $("#sidetabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
            $("#sidetabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
        });
    </script>
{% endblock %}

{% block content %}


    <div style="margin-top: 1em; margin-bottom: 1em;">
        {% include "logistics/partials/breadcrumbs.html" %}
    </div>

    {% include "logistics/partials/month_pager.html" %}

    <div id="sidetabs">
        <ul>
            <li><a href="#randr">R&amp;R</a></li>
            <li><a href="#soh">Stock On Hand</a></li>
            <li><a href="#submission">Submission</a></li>
            <li><a href="#supervision">Supervision</a></li>
            <li><a href="#delivery">Delivery</a></li>
        </ul>
        <div id="randr">
            <div class="module">
                <h2>R&amp;R Status</h2>
                {{ randr_status_table.as_html }}
            </div>

            <div class="module">
                <h2>R&amp;R Reporting History</h2>
                {{ randr_history_table.as_html }}
            </div>
        </div>

        <div id="soh">
            <div class="module">
                <h2>{{ bd.soh_chart.title }}</h2>
                {% with bd.soh_chart.data as chart_data %}{% with "soh_chart" as chartdiv %}{% with "soh_hover" as hoverdiv %}{% with 100 as graph_width %}{% with 100 as graph_height %}
                    {% include "logistics/partials/pie_reporting_generic.html" %}
                {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
            </div>

            <div class="module">
                <a id="stock"></a>
                {% include "tanzania/partials/soh_table.html" %}
            </div>
        </div>

        <div id="submission">
            <div class="module">
                <h2>{{ bd.submission_chart.title }}</h2>
                {% with bd.submission_chart.data as chart_data %}{% with "delivery_chart" as chartdiv %}{% with "delivery_hover" as hoverdiv %}
                    {% include "logistics/partials/pie_reporting_generic.html" %}
                {% endwith %}{% endwith %}{% endwith %}
            </div>
        </div>
        <div id="supervision">
            <div class="module">
                {% include "tanzania/partials/supervision_table.html" %}
            </div>
        </div>
        <div id="delivery">
            <div>{% average_lead_time dg.submitting month_pager.month month_pager.year %}</div>

            <h2>Delivery Status</h2>
            {{ delivery_status_table.as_html }}
        </div>
    </div>
{% endblock %}
