{% extends "tanzania/base.html" %}
{% load nav_tags %}
{% load logistics_report_tags %}
{% load i18n %}

{% block title %}{% trans 'Reports' %} - {{ block.super }}{% endblock %}

{% block javascripts %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}tanzania/js/stock_init.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/legend_hider.js"></script>
{% endblock %}

{% block content %}
    <a href="{% url ad_hoc_reports %}?place={{ location.code }}" style="float:right;">ad hoc email settings</a>
    <div class="crumbs">{% breadcrumbs location %}</div>

    <div style="clear:both;">&nbsp;</div>
{% include "logistics/partials/month_pager.html" %}
    <div class="toolbar">
        {% include "logistics/partials/selector_form.html" %}
    </div>
    <p>Jump to: <a href="#randr">R&amp;R</a> | <a href="#supervision">Supervision</a> |  <a href="#stock">Stock Levels</a></p> 

    <div class="module">
    <a id="randr"></a>
    <h2>{% trans 'R&amp;R Reporting History' %} &raquo; Group {{ randr_table.submitting_group }}: {% blocktrans with number_submitted as submitted and submitting_total as count %}{{ submitted }} of {{ count }}{% endblocktrans %} {% trans 'submitted' %} ({{ reporting_percentage|floatformat }}%) {% blocktrans with on_time as on_time and number_submitted as submitted %}{{ on_time }} of {{ submitted }}{% endblocktrans %} on time ({{ on_time_percentage|floatformat }}%)</h2>
    {{ randr_table.as_html }}
    </div>
    <br><br>
{% include "logistics/partials/combined_legend.html" %}

    <div class="module">
    <a id="stock"></a>
    {% include "tanzania/partials/soh_table.html" %}
    </div>

    <div class="module">
    <a id="supervision"></a>
    <h2>{% trans 'Supervision History' %} &raquo; 
    {% blocktrans with number_submitted as submitted and submitting_total as count %}
    {{ submitted }} of {{ count }}{% endblocktrans %} {% trans 'received supervision' %} 
    ({{ reporting_percentage|floatformat }}%) 
    </h2>
    {{ supervision_table.as_html }}
    </div>

    
{% endblock %}