{% extends base_template %}
{% load nav_tags %}
{% load logistics_report_tags %}
{% load tz_tags %}
{% load cache %}
{% load i18n %}

{% block title %}{% trans 'Reports' %} - {{ block.super }}{% endblock %}

{% block javascripts %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/stock_init.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/legend_hider.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.stack.js"></script>

<script type="text/javascript">
    $(function () {
       stock_init({{ months_minimum|default:"1" }}, {{ months_maximum|default:"3" }});
    });
</script>
{% endblock %}


{% block content %}
    <a href="{% url ad_hoc_reports %}?place={{ location.code }}" style="float:right;">ad hoc email settings</a>
    <div style="clear:both;">&nbsp;</div>

{% include "logistics/partials/month_pager.html" %}

<div style="margin-top: 1em; margin-bottom: 1em;">
    {% include "logistics/partials/breadcrumbs.html" %}
</div>

    <p>Jump to: <a href="#randr">R&amp;R</a> | <a href="#supervision">Supervision</a> |  <a href="#stock">Stock Levels</a></p> 
{#    {% cache 100000 location month_pager.month month_pager.year %}#}
    <div>{% average_lead_time dg.submitting month_pager.month month_pager.year %}</div>
{#    {% endcache %}#}
{#    {% cache 1000 location month_pager.month month_pager.year %}#}
    <div class="module">
    <a id="randr"></a>
    <h2>{% trans 'R&amp;R Reporting History' %} &raquo; Group {{ randr_table.submitting_group }}: {% blocktrans with bd.submitted|length as submitted and dg.submitting|length as count %}{{ submitted }} of {{ count }}{% endblocktrans %} {% trans 'submitted' %} ({{ reporting_percentage|floatformat }}%) {% blocktrans with on_time|length as on_time and bd.submitted|length as submitted %}{{ on_time }} of {{ submitted }}{% endblocktrans %} on time ({{ on_time_percentage|floatformat }}%)</h2>
    {{ randr_table.as_html }}
    </div>
    <br><br>

    <div class="two-columns toppadded">

        <div class="col-1">
            <div class="module">
             <h2>{{ bd.soh_chart.title }}</h2>
            {% with bd.soh_chart.data as chart_data %}{% with "soh_chart" as chartdiv %}{% with "soh_hover" as hoverdiv %}
            {% include "logistics/partials/pie_reporting_generic.html" %}
            {% endwith %}{% endwith %}{% endwith %}
            </div>

        </div>
        <div class="col-2">
            <div class="module">
             <h2>{{ bd.submission_chart.title }}</h2>
            {% with bd.submission_chart.data as chart_data %}{% with "delivery_chart" as chartdiv %}{% with "delivery_hover" as hoverdiv %}
            {% include "logistics/partials/pie_reporting_generic.html" %}
            {% endwith %}{% endwith %}{% endwith %}
            </div>
        </div>
        <div class="clear-hack"></div>
    </div>


{% include "logistics/partials/combined_legend.html" %}

    <div class="module">
    <a id="stock"></a>
    {% include "tanzania/partials/soh_table.html" %}
    </div>

<div class="module">
<a id="supervision"></a>
{% include "tanzania/partials/supervision_table.html" %}
    </div>
{#{% endcache %}#}
{% endblock %}
