{% extends base_template %}
{% load i18n %}
{% block title %}{% trans "SMS Interaction Schedule" %} - {{ block.super }}{% endblock %}
{% block content %}
<h3>{% trans "SMS Interaction Timing Table" %}</h3>
<div class="module">
<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th>
            {% trans "Type of Reminder" %}
            </th>
            <th>
            {% trans "Target Site" %}
            </th>
            <th>
            {% trans "First reminder" %}
            </th>
            <th>
            {% trans "Second Reminder" %}
            </th>
            <th>
            {% trans "Third reminder" %}
            </th>
        </tr>
        <tr>
            <td>
            Stock on Hand
            </td>
            <td>
            Facility
            </td>
            <td>
            Last business day of the
            month-2:00 PM
            </td>
            <td>
            1st<span
            >&nbsp;business day of the next month &ndash;
            9:00am 
            </td>
            <td>
            5th<span
            >&nbsp; business day of the next month &ndash;
            8:15am
            </td>
        </tr>
        <tr>
            <td>
            Losses &amp; Adjustments
            </td>
            <td>
            Facility
            </td>
            <td>
            Immediately following <span
            >each&nbsp;stock on hand <span
            >submission
            </td>
            <td>
            N/A
            </td>
            <td>
            N/A
            </td>
        </tr>
        <tr>
            <td>
            R&amp;R &nbsp;
            </td>
            <td>
            Facility
            </td>
            <td>
            Last business day before or
            on 5th&nbsp;day of
            the Submission month, 8:00am
            </td>
            <td>
            Last business day before or
            on 10th&nbsp;day
            of the submission month, 8:00am
            </td>
            <td>
            Last business day before or
            on 12th&nbsp;day
            of the submission month, 8:00am
            </td>
        </tr>
        <tr>
            <td>
            R&amp;R
            </td>
            <td>
            District
            </td>
            <td>
            Last business day before or
            on 13th&nbsp;day
            of the month, 8:00am
            </td>
            <td>
            Last business day before or
            on 15th&nbsp;day
            of the month, 8:00am
            </td>
            <td>
            Last business day before or
            on 16th&nbsp;day
            of the month, 2:00pm
            </td>
        </tr>
        <tr>
            <td>
            Delivery
            </td>
            <td>
            District
            </td>
            <td>
            Last business day before or
            on 13th&nbsp;day
            of the receiving month, 2:00pm
            </td>
            <td>
            Last business day before or
            on 20th&nbsp;day
            of the receiving month, 2:00pm
            </td>
            <td>
            Last business day before or
            on 28th&nbsp;day
            of the receiving month, 2:00pm 
            </td>
        </tr>
        <tr>
            <td>
            Delivery
            </td>
            <td>
            Facility
            </td>
            <td>
            Last business day before or
            on 15th&nbsp;day
            of the receiving month, 2:00pm
            </td>
            <td>
            Last business day before or
            on 22nd&nbsp;day
            of the receiving month, 2:00pm
            </td>
            <td>
            Last business day before or
            on 30th&nbsp;day
            of the receiving month, 2:00pm 
            </td>
        </tr>
        <tr>
            <td>
            Supervision
            </td>
            <td>
            Facility
            </td>
            <td>
            Last Business day of the
            month, 2:15pm
            </td>
            <td>
            None
            </td>
            <td>
            None
            </td>
        </tr>
        <tr>
            <td>
            Stock Out
            </td>
            <td>
            Facility
            </td>
            <td>
            None
            </td>
            <td>
            None
            </td>
            <td>
            None
            </td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}