{% extends base_template %}
{% load nav_tags %}
{% load cache %}
{% load i18n %}

{% block title %}Supervision Documents {{ block.super }}{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript">
    $(function () {
        function confirmDelete() {
            var x = confirm("Are you sure you want to delete?");
            if (x) {
                return true;
            } else {
                return false;
            }
        }
    });
</script>
{% endblock %}

{% block content %}
<h2>{% trans "Supervision Documents" %}</h2>

<div class="module half">
    <br />
    {% if files %}
        <ul>
        {% for f in files %}
            <li>
                <a href="{% url download_supervision_doc f.id %}">
                    {{ f.filename }}
                </a>
                <a class="delete"
                    href="{% url delete_supervision_doc f.id %}"
                    onclick="return confirm('{% trans "Are you sure want to delete this document" %}');">
                    {% trans "Delete" %}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No documents." %}</p>
    {% endif %}

    <form action="{% url supervision %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.document.label_tag }} {{ form.document.help_text }}</p>
        <p>
            {{ form.document.errors }}
            {{ form.document }}
        </p>
        <p><input type="submit" value="{% trans 'Upload' %}" /></p>
    </form>
</div>
{% endblock %}
