{% extends "logistics/reports_base.html" %}
{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
{% endblock %}

{% load i18n %}
{% load logistics_report_tags %}

{% block content %}
    <div class="module">
        {% include "logistics/partials/accordion_nav.html" %}
        <div id="main">
            <h2 id="report-title">{{ location.name }} {% trans "Aggregate Stock Report" %}</h2>
            <div class="right">
                <div  class="filter">Filter by:</div>
                {% include "logistics/partials/commoditytype_filter.html" %}
                {% include "logistics/partials/commodity_filter.html" %}
            </div>
            <div id="report-content">
{% aggregate_table location commodity_filter commoditytype_filter %}
            <p class="smallnote">
                Note: these numbers represent the total number of stockouts
                across all commodities in the region indicated. The above table also does
                not reflect commodities for which the monthly consumption is unknown. 
            </p>
            </div>
        </div>
    </div>
{% endblock %}
