{% extends "logistics/reports_base.html" %}
{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
{% endblock %}

{% load i18n %}

{% block content %}
    <div class="module">
        {% include "logistics/partials/accordion_nav.html" %}
        <div id="main">
            <h2 id="report-title">{{ location.name }} {% trans "Aggregate Stock Report" %}</h2>
            <div class="right">
                <div  class="filter">Filter by:</div>
                {% include "logistics/partials/commoditytype_filter.html" %}
                {% include "logistics/partials/commodity_filter.html" %}
            </div>
            <div id="report-content">
            <table class="stock" width=100%>
            <thead><tr>
                <th scope="col"></th>
                <th scope="col" class="stockout stock_col">{% trans "Stockout" %}</th>
                <th scope="col" class="emergency stock_col">Emergency</th>
                <th scope="col" class="low_supply stock_col">{% trans "Re-Order" %}</th>
                <th scope="col" class="good_supply stock_col">{% trans "Good Stock" %}</th>
                <th scope="col" class="overstock stock_col">{% trans "Overstock" %}</th>
                <!-- The idea of 'consumption' only makes sense when talking about a specific commodity -->
                {% if commodity_filter %}<th scope="col" >{% trans "AMC" %}</th>{% endif %}
            </tr></thead>
            <tbody>
            {% for row in rows %}
                {% if row.is_active %}
                <tr>
                <td><a href="{{ row.url }}">{{ row.name }}</a></td>
                <td> {{ row.stockout_count }} {% ifnotequal row.stockout_count 0 %}<img src="{{ MEDIA_URL }}logistics/images/stockout.png" title="Stock out">{% endifnotequal %}</td>
                <td> {{ row.emergency_stock_count }} {% ifnotequal row.emergency_stock_count 0 %}<img src="{{ MEDIA_URL }}logistics/images/emergency.png" title="Emergency">{% endifnotequal %}</td>
                <td> {{ row.low_stock_count }} {% ifnotequal row.low_stock_count 0 %}<img src="{{ MEDIA_URL }}logistics/images/warning.png" title="Low supply">{% endifnotequal %}</td>
                <td> {{ row.good_supply_count }} {% ifnotequal row.good_supply_count 0 %}<img src="{{ MEDIA_URL }}logistics/images/goodstock.png" title="Good supply">{% endifnotequal %}</td>
                <td> {{ row.overstocked_count }} {% ifnotequal row.overstocked_count 0 %}<img src="{{ MEDIA_URL }}logistics/images/overstock.png" title="Overstock">{% endifnotequal %}</td>
                <!-- The idea of 'consumption' only makes sense when talking about a specific commodity -->
                {% if commodity_filter %}<td scope="col" >{{ row.consumption|default_if_none:"?" }}</td>{% endif %}
                </tr>
                {% endif %}
            {% endfor %}

            </tr></tbody>
            </table>

            <p class="smallnote">
                Note: these numbers represent the total number of stockouts
                across all commodities in the region indicated. The above table also does
                not reflect commodities for which the monthly consumption is unknown. 
            </p>
            </div>
            {% load logistics_report_tags %}
            <div style="clear:right; padding-top:3em;">
            {% reporting_rates location.children "hsa" %}
            </div>
            <div style="clear:both;">
            {% order_fill_stats location.children "hsa" %}
            </div>
            <div style="clear:both; padding-top:3em;">
            {% order_response_stats location.children "hsa" %}
            </div>
        </div>
    </div>
{% endblock %}
