{% extends "logistics/base.html" %}
{% load i18n %}

{% block content %}
    <div class="module">
        <div class="error">{{ errors }}</div>
        <h2>Input Stock for {{ date|date:"D, M d" }}</h2>
        {% if rms %}
        <form action="" method="post">
            <div class="submit">
                <input type="submit" name="submit" value="Save Stock Report"/>
            </div>
            <div>
            {% csrf_token %}
            <table>
            <thead>
            <tr>
                <th>{% trans "Commodity" %}</th>
                <th>{% trans "Current Stock Level" %}</th>
                <th>{% trans "Consumption Rate" %}</th>
                <!-- TODO: hide this depending on the role of the logged-in user -->
                <th>{% trans "Is Active?" %}</th>
            </tr>
            </thead>
            <tbody>
                {% for stock in productstocks %}
                    <tr>
                        <td>{{ stock.product }}</td>
                        <td><input type="text" name="{{ stock.product.sms_code }}" id="id_{{ stock.product }}" value="{{ stock.quantity }}"/></td>
                        <td><input type="text" name="{{ stock.product.sms_code }}_consumption" id="id_{{ stock.product.sms_code }}_consumption" value="{{ stock.monthly_consumption }}"/></td>
                        <td>
                            <input type="checkbox" name="{{ stock.product.sms_code }}_is_active" id="id_{{ stock.product.sms_code }}_is_active"
                            {% if stock.is_active %}checked="checked"{% endif %}/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            </div>

            <div class="submit">
                <input type="submit" name="submit" value="Save Stock Report"/>
            </div>

        </form>
        {% else %}<p></p>
            {% trans "No regional medical stores defined!" %}
        {% endif %}
    </div>
{% endblock %}
