{% extends "logistics/reports_base.html" %}

{% block content %}
    <div class="module">

        {% include "logistics/partials/accordion_nav.html" %}
        <div id="main">
                <h2>Stock for {{ location.name }}</h2>
                <table class="stock">
                <thead><tr>
                    {% for stockonhand in stockonhands %}
                        <th scope="col">{{ stockonhand.product }}</th>
                    {% endfor %}
                </thead></tr><tbody><tr>
                    {% for stockonhand in stockonhands %}
                        <td>{{ stockonhand.quantity }}</td>
                    {% endfor %}
                </tr></tbody></table>

        </div>
    </div>
{% endblock %}
