{% extends "logistics/reports_base.html" %}
{% load i18n %}

{% block content %}
    <div class="module">

        {% include "logistics/partials/accordion_nav.html" %}
        <div id="main">
                <h2>Stock for {{ facility.name }}</h2>
        {% if stockonhands %}
                <table class="stock">
                    <thead><tr>
                        <th>{% trans "Commodity" %}</th>
                        <th>{% trans "Months of Stock Remaining" %}</th>
                        <th>{% trans "Current Stock" %}</th>
                        <th>{% trans "Emergency Level" %}</th>
                        <th>{% trans "Reorder Level" %}</th>
                        <th>{% trans "Maximum Level" %}</th>
                    </tr></thead>
                    <tbody>
                    {% for stockonhand in stockonhands %}
                        <tr>
                        <td>{{ stockonhand.product.name }}</td>
                        <td
                        
                        {% ifequal stockonhand.months_remaining 0 %}
                                class="stockout"
                        {% else %}
                            {% if stockonhand.months_remaining < stockonhand.emergency_reorder_level %}
                                class="emergency"
                            {% else %}
                                {% if stockonhand.months_remaining < stockonhand.reorder_level %}
                                    class="low_supply"
                                {% else %}
                                    {% if stockonhand.months_remaining < stockonhand.maximum_level %}
                                        class="good_supply"
                                    {% else %}
                                        class="overstock"
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endifequal %}

                        >{{ stockonhand.months_remaining }}</td>
                        <td>{{ stockonhand.quantity }}</td>
                        <td>{{ stockonhand.emergency_reorder_level }}</td>
                        <td>{{ stockonhand.reorder_level }}</td>
                        <td>{{ stockonhand.maximum_level }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table><br/>
            <a href="{% url input_stock facility.code %}">INPUT STOCK for {{ facility.name }}</a>
            {% else %}<p></p>
                <div class="error">
                    {{ facility.name }} has not been configured with the appropriate stock yet. Please contact Focus Region Health Project for assistance.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
