<script language="javascript" type="text/javascript">
    $(document).ready(function () {
		$.plot(
			$("#{{ graphdata.div }}"),
			{{ graphdata.data|safe }},
			{   // options
				xaxis: { 
                    ticks: {{ graphdata.xlabels|safe }}
                },
                yaxis: { min: 0,
                         max: {{ graphdata.max_value|default:"null" }},
                         tickDecimals: 0 },
                legend: { show: true, container: $("#{{ graphdata.legenddiv }}"), 
                          noColumns: {{ graphdata.legendcols|default:3}} },
        
				series: {
         			lines: { show: true, steps: false },
         			points: { show: true },
	    		},
            }
		);
	});
</script>
<div id="{{ graphdata.legenddiv }}" style="width:100%"></div>
<p>{{ graphdata.yaxistitle }}</p>
<div id="{{ graphdata.div }}" style="width:{{ graphdata.width }};height:{{ graphdata.height }};" ></div>
<p style="text-align:center; width:100%;">{{ graphdata.xaxistitle }}</p>