{% if table.is_downloadable %}
	<input id="download-{{ table.id }}" value="Export as CSV" type="button" /> 
{% endif %}
<table id="{{ table.id }}" class="malawi-report">
	<thead><tr>
		{% for column_title in table.header %}
			<th>{{ column_title }}</th>
		{% endfor %}
	</tr></thead>
	<tbody>
		{% for row in table.data %}
			<tr>
				{% for item in row %}
					<td>{{ item }}</td>
				{% endfor %}
				</tr>
		{% endfor %}
	</tbody>
</table>

<script language="javascript">
$(document).ready(function() {
	{% if table.is_datatable %}
		$("#{{ table.id }}").dataTable({
			"sScrollY": "{{ table.height|default:240 }}px",
			"sScrollX": "100%",
			"bPaginate": false,
			"bRetrieve": true
		});
	{% endif %}

	{% if table.is_downloadable %}
		$("#download-{{ table.id }}").live('click', function(){
			$("#{{ table.id }}").table2CSV();
		});
	{% endif %}
	
	});
</script>
