{% block stylesheets %}
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">

    $(document).ready(function()
    {   


        $(".monthPicker").datepicker({
            dateFormat: 'MM yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            defaultDate: "-1m",
            maxDate: "+0d",
            numberOfMonths: 1,

            onClose: function(dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).val($.datepicker.formatDate('MM yy', new Date(year, month, 1)));
            }
        });


        $(".monthPicker").focus(function () {
            $(".ui-datepicker-calendar").hide();
            $("#ui-datepicker-div").position({
                my: "center top",
                at: "center bottom",
                of: $(this)
            });
        });


    });

</script>
{% endblock %}

<label for="month">Start Date: </label>
<input type="text" id="start" name="from" class="monthPicker" value="{{ request.datespan.startdate|date:'F' }} {{ request.datespan.startdate|date:'Y' }}" />

<label for="month">End Date: </label>
<input type="text" id="end" name="to" class="monthPicker" value="{{ request.datespan.enddate|date:'F' }} {{ request.datespan.enddate|date:'Y' }}" />