<div class="module">
	{% if edit_user %}
	<div class="toolbar">
		<a href="{% url admin_web_registration %}" class="add">Add a New Web User</a>
	</div>
	{% endif %}
	<h2>Registered Web Users</h2>
	<table><thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Designation</th>
		</tr>
	</thead><tbody>
	{% for registered_user in users %}
	{% ifnotequal registered_user.username "admin" %}
		<tr>
			<td><a href="{% url admin_web_registration_edit registered_user.pk %}">
			    {{ registered_user.username }}
			</a></td>
			<td>{{ registered_user.email }}</td>
			<td>{{ registered_user.get_profile.designation|slice:"30"|default_if_none:"" }}</td>
		</tr>
	{% endifnotequal %}
	{% endfor %}
	</tbody></table>
</div>
