{% load logistics_extras %}
<div class="module">
<!-- Registration request form -->  
<h2>
{% if form_title %}
{{form_title}}
{% else %}
	{% if edit_user %}
	Edit a Web User
	{% else %}
	Register a New Web User
	{% endif %}
{% endif %}
</h2>
{% if created %}
     <br/><div class="success">{{created}} has been successfully registered.</div>
{% endif %}
{% if deleted %}
     <br/><div class="success">{{deleted}} has been successfully deleted.</div>
{% endif %}

<div class="span-12" style="margin-left:auto; margin-right:auto; float:none">
<form class="sfb clear" name="form" method="post" action="">
{% csrf_token %}
<br/>

{% if form.non_field_errors %}
  <div class="non_field_errors error">
  {{ form.non_field_errors }}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  {% if field.errors %}
    <div class="field_errors error">
    {{field.errors}}
    </div>
  {% endif %}
  
  {% if field.field.widget|klass == 'CheckboxInput' %}
	  <div class="span-2">
		  {{ field }}
		  {{ field.label_tag }}
	  </div>
	  <div class="clear help_text">
	  {{field.help_text}}
	  </div><br/>
  
  {% else %}
	  <div class="span-5 {% if field.field.required %}required_label{% endif %}">
		  {{ field.label_tag }}
	  </div>

	  <div class="span-2">
		  {{ field }}
	  </div>
	  <div class="clear help_text">
	  {{field.help_text}}
	  </div><br/>
  {% endif %}
  
{% endfor %}

<div class="submit">
	<input type="hidden" name="pk" value="{{ user.pk }}"/>
	<input type="submit" name="submit" value="Save Contact" />{% if edit_user and not hide_delete %}
	<input type="submit" name="submit" value="Delete Contact" />{% endif %}
</div>
</form>
</div>
<!-- Registration request form -->  
<div class="span-12" style="margin-left:auto; margin-right:auto; float:none">
<div class="sfb clear">
</div>
</div>
</div>
{% if edit_user %}
    {% if edit_user.pk %}
     <div class="end_note"><strong>
          <a href="{% url ewsghana_scheduled_reports edit_user.pk %}">
          Configure Email Reports
          </a>
     </strong></div>
    {% endif %}
{% endif %}
