#small-left .col-1 {
    width: 33%;	
}

#small-left .col-2 {
    width: 67%; 
}

.subnav ul {
	float: left;
	padding-top: .2em;
	margin: 0;
	list-style: none;
	padding-left: 0;
	padding-bottom: 1em;
}

.subnav ul li {
	display: inline;
	padding: 0 11px 0 6px;
	font-weight: normal;
	font-size: 1.2em;
	border-right: 1px solid #96989B;
	margin: 0;
}

.module h2 {
    clear: both;	
}
.scrollable {
  overflow: scroll;
}

@media only print {
   .scrollable {
     overflow: visible;
   }
}

#alertpane {
    height:200px;
    overflow:auto;	
}
ul.alerts {
	list-style-type: none;
    margin: 0em;
    padding: 0em;
}

li.alert {
	list-style-type: none;
    padding: .5em;
    margin: 1em;
}

td.prompt {
    text-align: right;	
}
.inline-error {
    color:red; font-weight:bold;	
}

.error, .notice, .warning, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice, .warning {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}

.fullwidth table {
    width: 100%;
}

.tabledate {
    width: 15em;
}

.breadcrumbs {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#selector {
    margin-top: 1em;
    padding: 1em;
}

.order-received {
    color:green;
}
.order-requested {
    color: #b8860b;
}
.order-canceled {
    color: #666;
    font-style:italic;
}
.order-superseded {
    color: #666;
    font-style:italic;
}
.order-stocked_out {
    color:red;
    font-weight:bold;
}
.order-partially_stocked {
    color:darkorange;
    font-weight:bold;
}
.order-approved {
    color:blue;
}
.n-a {
    color:#d3d3d3;
}
.download-csv{
    width: 25px;
    height: 30px;
    float: right;
    cursor: hand;
    cursor: pointer;
}
