#header {
    background: url("../images/header-bg.png") repeat-x scroll 0 0 transparent;
    color: #CCCCFF;
    padding-bottom: 33px;
    padding-top: 23px;
    position: relative;
}


#tabs li a, #page-tabs li a {
    background: url("/static/malawi/images/tab-bg.png") repeat-x scroll 0 0 #1085D8;
    border-left: 1px solid #11BAD0;
    border-right: 1px solid #11BAD0;
    color: #FFFFFF;
    display: block;
    outline: medium none;
    padding: 0 1em;
}

.subtabs {
    padding: 0 0 .2em 0;
}

.subtabs ul {
	list-style:  none;
    display: inline;
}

.subtabs li {
    display: inline-block;
    width: 8.2em;
    text-align: center;
    height: 2em;
    vertical-align: top;
    padding: .5em 0em;
}

.subtabs li a {
    color: white;
    outline: none;
    padding: .2em .5em;
    background: #1085D8 url("/static/malawi/images/tab-bg.png") repeat-x;
    display: block;
    height: 100%;
}

.subtabs li.selected a, .subtabs li.selected a:hover, .subtabs li.selected a:focus {
	color: #1085D8;
    border-bottom: none;
    background: white url("/static/rapidsms/images/tab-bg-active.png") repeat-x;
}

.subtabs li a:hover, .subtabs li a:focus {
    text-decoration:none;
    background: #0F7FCE url("/static/malawi/images/tab-bg-hover.png") repeat-x;
}

div.module h2 {
    background-color: #666666;
    background-image: url("/static/malawi/images/h2-bg.png");
    font-size: 160%;
    padding: 0.3125em;
}

#stock-out-rates-module, #fridge-malfunction-module {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1em;
    max-height: 350px;
    overflow: auto;
    z-index: 10000;
}

#fridge-malfunction-module table td {
    text-align: center;
}

.report-content {
    border: 1px solid lightgray;
    float: left;
    
    width: 754px; 
    min-height: 400px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.report-content .inner {
    margin: 5px;
}

.selector {
    margin-top: 1em;
    padding: 1em;	
}

.no_data {
    color:#ccc;
}

.sidebar {
    padding: 5px 0px 0px 5px;
	clear: right;

    width: 175px;
    float: right;
    
    overflow: visible;
}

#sidebarFlag {
    height: 53px;
    width: 80px;
    background: url("/static/malawi/images/malawi.png") no-repeat scroll 0 0 transparent; 
    margin-bottom: 5px;
    margin-left: 40px;
}

.sidebar table {
    margin: 5px 0 5px 0;
    width: 160px;
}

.sidebar table th {
    font-weight: bold;  
}

.sidebar table tr.odd {
    background-color: #e1e1e1;	
}

table.malawi-report {
    width: 100%;
}

table.malawi-report tr td {
    text-align: right;
}

fieldset {
    border: none;
}

thead th {
    max-width: 200px;
}

.dataTables_filter {
    margin: 0px 0px 5px 0px;
}

/* flot */
div.tickLabel {
    word-wrap: break-word;
    font-size: 9px;
    padding: 0px 1px;
    box-sizing: border-box;
}

.yaxislabel {
    float: left;
}
.y2axislabel {
    float: right;
}

.clear {
    clear: both;
}

#login-info {
    float: right; 
    width: 550px; 
    border-left: 1px solid #ddd; 
    padding-left: 20px;
}

form#login {
    width: 300px; 
    border: none;
}

dl dt.inline {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

dl dd.inline {
    display: inline-block;
    margin: 0px 10px;
    padding: 2px;
    vertical-align: middle;
}

dl dt.over-stock {
    background: #800080;
}

dl dt.adequate-stock {
    background: #008000;
}

dl dt.under-stock {
    background: #FFA500;
}

div.legend-box {
    margin: 5px
}