.error {
    color: red;
    padding: 1em;
}

.not_available {
    color: grey;
    padding: 1em;
    font-style: italic;
}

.smallnote {
    font-size: 0.9em;
    font-style:italic;
	clear:left; 
	padding-top:2em
}

.note {
	padding: 0.5em;
}

.right {
    float: right;
    display: inline;
    position: relative;
    overflow: hidden;
    right: 10px;
    top: 10px;
    width: 200px;
}

.breadcrumbs {
    font-size: 1.5em;
    margin-bottom: 1em;
}

/* stock icons */

.stock_iconified,  .iconified {
    background: no-repeat; 
    background-position: left center;
    text-indent: 1.2em;
    white-space: nowrap;
}

.zero_count, .error_icon {
    background-image: url("../images/stockout.png");
}

.low_stock, .warning_icon {
    background-image: url("../images/warning.png");
}

.adequate_stock, .good_icon {
    background-image: url("../images/goodstock.png");
}

.overstock, .over_icon {
    background-image: url("../images/overstock.png");
}

#input_stock tr.inactive{
    color: #909090;
    font-weight: bold;
    font-weight: normal;
}

.stock tr.inactive{
    color: #909090;
    font-weight: normal;
    background-color: white;
}

.stock tr.inactive{
	/* the duplicate font-weight=normal is necessary to 
	override the big red bold 'not set' under consumption */
    color: #909090;
    font-weight: normal;
}
