.error {
    color: red;
    padding: 1em;
}

.big_error {
    color: red;
    padding: 1em;
    font-weight: bold;
}

.smallnote {
    font-size: 0.9em;
    font-style:italic;
	clear:left; 
	padding-top:2em
}

.note {
	padding: 0.2em;
}

.right {
    float: right;
    display: inline;
    position: relative;
    overflow: hidden;
    right: 10px;
    top: 10px;
    width: 200px;
}

.breadcrumbs {
    font-size: 1.5em;
    margin-bottom: 1em;
}

/* stock icons */

.stock_iconified {
    background: no-repeat; 
    background-position: left center;
    text-indent: 1.2em;
}

.zero_count {
    background-image: url("../images/stockout.png");
}

.low_stock {
    background-image: url("../images/warning.png");
}

.adequate_stock {
    background-image: url("../images/goodstock.png");
}

.overstock {
    background-image: url("../images/overstock.png");
}

