.stockout {
    background-color: red;
}

.emergency {
    background-color: orange;
}

.low_supply {
    background-color: yellow;
}

.good_supply {
    background-color: lightgreen;
}

.overstock {
    background-color: #ffa07a;
}

.stock_col{
    width:12%;
}

#graph{
  float:left;
  display:inline;
  margin: 30px;
  width:300px;
  padding-bottom:1.3em;
  position:relative;
  overflow:hidden;
}

.major_table{
    float:right;
    width:550px
}

#reporting_chart{
    margin-bottom:10px;
    margin-top:10px;
}

#main{
  float:right;
  display:inline;
  width:70%;
  padding-bottom:1.3em;
  position:relative;
  overflow:hidden
}

#current {
    font-weight: bold
}

.product_list{
    margin:3px;
}

.stock {
    width:50%;
}

.aggregate_stock tbody tr td{
    width:80px;
}


/* --- Accordion --- */
a {
    padding:5px;
}

#side{
  float:left;
  display:inline;
  width:260px;
  padding-bottom:1.3em;
  position:relative;
  overflow:hidden;
}

#side a.active{
    font-weight:700;
    color:#f72;
    text-decoration:none}
}

#side a {
    display:block;
    border-width:0 0 1px;
    border-color:#445;
    color:#f0f0f0
}

#side a:hover, #side a:active, #side a:focus {
    background-color: #cccccc
}

.accordion {
    margin:0 10px 5px 0px;
    padding:10px 15px 20px 10px;
    background-color: #F0F3FF;
}

.accordion li {
    display:block;
    list-style-type:none;
    padding: 0;
    margin: 0;
    overflow:hidden;
}

.accordion li a {
    color: #1c3482;
    border-bottom:0.1em solid #cccccc;
}

#side ul.accordion ul {
    margin: 0 0 0 0px;
    padding:0 0 0 2em;
}

a.trigger {
    display:block;
    padding-left:20px;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-position: 1px 50%;
}

a.trigger.open {
    display:block;
    background-image: url(../images/minus.png);
    background-color:#e7e7e7;
}

