{% extends base_template %}
{% load report_tags %}

{% block title %}{{ block.super }} Group Messaging{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}groupmessaging/stylesheets/groupmessaging.css" />
{% endblock %}

{% block javascripts %}
{{ block.super }}
    <script type="text/javascript">
    $(document).ready(function() {
    $("#msg").keyup(function(){
        var length = $(this).val().length;
       $("#charcount").text(length);
       $("#charcount").toggleClass("char_good", length < 140);
       $("#charcount").toggleClass("char_warning", (length > 140 && length <= 160));
       $("#charcount").toggleClass("char_over", length > 160);
    });
    $("#messageform").submit(function() {
       if ($("#msg").val().length > 160){
           alert("Cannot send message over 160 characters!");
           return false;
       }
    });
    $(".contactselect").change(function(){
        var selectmap = {};
        $(".contactselect").each(function(){
            selectmap[this.name] = $(this).val();
        });
        $('#contacttable').html("<img src='{{ MEDIA_URL }}groupmessaging/img/ajax-loader.gif'/> Loading...");
        $.post("{% url ajax_contact_count %}", $("#messageform").serialize(), function(data){
            $(".contactcount").text(data['num']);
            $("#contacttable").html(data['table']);
        });
    });
    $('#contacttable').html("<img src='{{ MEDIA_URL }}groupmessaging/img/ajax-loader.gif'/> Loading...");

    $.post("{% url ajax_contact_count %}", $("#messageform").serialize(), function(data){
            $(".contactcount").text(data['num']);
            $("#contacttable").html(data['table']);
    });
    });
    </script>
{% endblock %}

{% block content %}
{#    <div class="two-columns topadded">#}
{#    <div class="module">#}
    <div class="two-columns toppadded">
    <div class="col-1">
    <div class="module">
    <h2>Group Messaging</h2>

    <form method=post action="" id="messageform">


    {% csrf_token %}
{#    <label for="contact_set">Send Message To:</label>#}
    <table width=100%>
    {% for group in contact_fns %}
        <tr>
        <td><label for="select-{{ group.name }}">{{ group.name }}: </label></td>
        <td><select class="contactselect" id="select-{{ group.name }}" name="select-{{ group.name }}">
            <option id="___all" selected=true><b>All</b></option>
            {% for name in group.groups %}
                <option id="group-{{ name|slugify }}" value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        </td>
        </tr>
    {% endfor %}
    </table>
    <label for="msg">Message: (<span id="charcount" class="char_good">0</span> characters of 160 used)</label><br/>
    <textarea name="msg" id="msg" cols=40 rows=4></textarea>
    <br/>
    <input type="submit" id="msgsubmit" value="Send SMS To All Selected Contacts" />
    </form>
    </div>
    </div>
    <div class="col-2">
        <div class="module tableContainer">
        <h3><span class="contactcount"></span> Recipients</h3>
        <table>
            <thead class="fixedHeader">
            <tr><th>Phone</th><th>Name</th></tr>
            </thead>
            <tbody class="scrollContent" id="contacttable">
            
            </tbody>
        </table>
    </div>
        </div>
    </div>

{% endblock %}