{% extends "base.html" %}

{% block title %}{{ facility.name }} Note History{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<div class="module">
{% if notes %}
    <table>
        <thead>
            <th>{% trans 'Sender' %}</th>
            <th>{% trans 'Role' %}</th>
            <th>{% trans 'Phone' %}</th>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Text' %}</th>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>            
                <td>{{ note.contact_detail.name }}</td>
                <td>{% blocktrans with note.contact_detail.role as role %}{{ role }}{% endblocktrans %}</td>
                <td>{{ note.contact_detail.phone }}</td>
                <td>{{ note.created_at }}</td>
                <td><i>{{ note.text }}</i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans 'No notes' %}.</p>
{% endif %}
</div>
{% endblock %}