{% extends "base.html" %}
{% load i18n %}
{% load djtables_tags %}
{% load custom_table_tags %}

{% block title %}{% trans "Stock Inquiry Form"%}{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<div class="module">
    {% if message %}<div class="highlightedMessage">{{ message }}</div>{% endif %}
    <h2>{% trans 'Stock Inquiry Form' %}</h2>
        <form action="{% url ilsgateway.views.stock_inquiry %}" method="post">
        <p style="color:red;font-weight: bold;">{% trans 'Caution: stock inquiries will generate a message to ALL recipients at the selected locations' %}:</p>
        <p>{% trans 'Send a stock inquiry to a facility' %}:</p>
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>    
</div>
{% endblock %}

