{% extends "base.html" %}
{% load i18n %}
{% load djtables_tags %}
{% load custom_table_tags %}

{% block title %}{% trans "Ordering Status"%}{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<p><a href="{{ previous_month_link }}">&laquo; previous month</a><span style="font-weight:bold;font-size:1.5em;"> {{ report_date|date:"F" }} {{ report_date|date:"Y" }} </span>{% if show_next_month %}<a href="{{ next_month_link }}">next month &raquo;</a>{% else %}<span style="color:gray;">next month &raquo;</span>{% endif %} </p>
<div class="module">
    <h2>{% trans 'Ordering Status' %}</h2>

    <table class="ordering">
        <thead><tr>{% for cell in header_row %}<th class="{{ cell.sorted }} {{ cell.direction }}">{% if cell.link %}<a href="{{ cell.link }}">{% endif %}{{ cell.data }}{% if cell.link %}<span></span></a>{% endif %}</th>{% endfor %}</tr></thead>
        {% for row in data_table %}
            <tr>
                {% for cell in row %}
                    <td><span class="{{ cell.cell_class }}">{% if cell.link %}<a href="{{ cell.link }}">{% endif %}{% blocktrans with cell.data as value %}{{ value }}{% endblocktrans %}{% if cell.link %}</a>{% endif %}</span></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}