{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Current Stock Status" %}{{ block.super }}{% endblock %}

{% block content %}

<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<p><a href="{{ previous_month_link }}">&laquo; previous month</a><span style="font-weight:bold;font-size:1.5em;"> {{ report_date|date:"F" }} {{ report_date|date:"Y" }} </span>{% if show_next_month %}<a href="{{ next_month_link }}">next month &raquo;</a>{% else %}<span style="color:gray;">next month &raquo;</span>{% endif %} </p>
<p>Stock levels for the month prior reported between {{ start_time }} and {{ end_time }}</p>
{% for stock_header_row, stock_data_table in stock_data_tables %}
    <div class="module">
	    <h2>{% trans 'Current Stock Status' %}{% if not forloop.first %} (continued){% endif %}</h2>
	    <div class="toolbar">
	        {% if view_type == 'inventory' %}<a href="{{ mos_link }}">{% trans 'Show months of stock' %}</a>{% else %}<a href="{{ inv_link }}">{% trans 'Show inventory' %}</a>{% endif %}
	    </div>    
        <table class="stock">
            <thead><tr>{% for cell in stock_header_row %}<th class="{{ cell.sorted }} {{ cell.direction }}">{% if cell.link %}<a href="{{ cell.link }}">{% endif %}{{ cell.data }}{% if cell.link %}<span></span></a>{% endif %}</th>{% endfor %}</tr></thead>
            {% for row in stock_data_table %}
                <tr>
                    {% for cell in row %}
                        <td><span class="{{ cell.cell_class }}">{% if cell.link %}<a href="{{ cell.link }}">{% endif %}{% blocktrans with cell.data as value %}{{ value }}{% endblocktrans %}{% if cell.link %}</a>{% endif %}</span></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}


{% endblock %}