{% extends "base.html" %}
{% load i18n %}
{% load djtables_tags %}
{% load custom_table_tags %}

{% block title %}{{ facility.name }} {% trans 'Message History' %}{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<div class="module">

{% if messages %}
    <table class="users">
      {% table_cols message_history_table %}
      {% translated_table_head message_history_table %}
      {% table_body message_history_table %}
      {% table_foot message_history_table %}
    </table>
{% else %}
    <p>{% trans 'No messages' %}.</p>
{% endif %}
</div>
{% endblock %}