{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Choose Service Delivery Point' %} {{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<div class="module">
    <h2>{% trans 'Select Location' %}</h2>
    <table>
        <thead>
            <th>{% trans 'Name' %}</th>
        </thead>
        <tbody>
            {% for sdp in sdps %}
            <tr>
                <td><a href="">{{ sdp.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}