{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Supervision' %}{{ block.super }}{% endblock %}

{% block content %}
<div class="crumbs">{% for title, href in breadcrumbs %}{% if not forloop.first %} &raquo; {% endif %}{% if href %}<a href="{{href}}">{{ title }}</a>{% else %}{{ title }}{% endif %}{% endfor %}</div>
<div style="clear:both;">&nbsp;</div>
<p><a href="{{ previous_month_link }}">&laquo; previous month</a><span style="font-weight:bold;font-size:1.5em;"> {{ report_date|date:"F" }} {{ report_date|date:"Y" }} </span>{% if show_next_month %}<a href="{{ next_month_link }}">next month &raquo;</a>{% else %}<span style="color:gray;">next month &raquo;</span>{% endif %} </p>
<div class="module">
    <h2>{% trans 'Supervision history' %}</h2>
    <table class="ordering">
        <thead><tr>{% for cell in header_row %}<th class="{{ cell.sorted }} {{ cell.direction }}">{% if cell.link %}<a href="{{ cell.link }}">{% endif %}{{ cell.data }}{% if cell.link %}<span></span></a>{% endif %}</th>{% endfor %}</tr></thead>
        {% for row in data_table %}
            <tr>
                {% for cell in row %}
                    <td><span class="{{ cell.cell_class }}">{% if cell.link %}<a href="{{ cell.link }}">{% endif %}{% blocktrans with cell.data as value %}{{ value }}{% endblocktrans %}{% if cell.link %}</a>{% endif %}</span></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

<div class="split-2">
    <div class="left">
        <div class="module">
            <h2>{% trans 'Downloads' %}</h2>
            <!--<div class="toolbar">
                <a href=""></a>
            </div>-->    
            <ul class="downloads">
                <li><a href="/static/ilsgateway/downloads/supervision_documents/ils_manual.doc">ILS Manual (7mb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/ils_manual_supervision_excerpts.doc">ILS Manual - Supervision Excerpts (942kb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/FEFOGraphicJobAid.doc">Job Aid - FEFO (First Expiry, First Out) (164kb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/OJTRightCondition.doc">On the Job Training - RightCondition (1.7mb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/OJTSixRights.doc">On the Job Training - Six Rights (401kb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/ReportingCalendarDeliveryGroupA.doc">Reporting Calendar Delivery - Group A (74kb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/ReportingCalendarDeliveryGroupB.doc">Reporting Calendar Delivery - Group B (74kb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/ReportingCalendarDeliveryGroupC.doc">Reporting Calendar Delivery - Group C (74kb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/RightTemperature.doc">Right Temperature (1.6mb)</a></li>
                <li><a href="/static/ilsgateway/downloads/supervision_documents/StorageOJT.doc">On the Job Training - Storage (2.3mb)</a></li>        
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="module">
            <h2>{% blocktrans with sdp.name as name %}Notes for Facilities in {{ name }}{% endblocktrans %}</h2>
            <!--<div class="toolbar">
                <a href="">see all notes</a>
            </div>-->
        {% if notes %}
            {% for note in notes %}
                <div class="recentNote">
                    <p class="noteText"><a href="{% url ilsgateway.views.facilities_detail note.service_delivery_point.id %}">{{ note.service_delivery_point.name }}</a> &raquo; "{{ note.text }}"</span></p>
                    <p class="noteByLine">{{ note.created_at }} by <a href="{% url registration %}">{{ note.contact_detail.name }}</a>
                </div> 
            {% endfor %}
        {% else %}
            <p>{% trans 'No notes' %}.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}