<div class="module">
<!-- Registration request form -->  
<h2>
{% if form_title %}
{{form_title}}
{% else %}
	{% if edit_user %}
	Edit a Web User
	{% else %}
	Register a New Web User
	{% endif %}
{% endif %}
</h2>
<div class="span-12" style="margin-left:auto; margin-right:auto; float:none">
<form class="sfb clear" name="form" method="post" action="">
{% csrf_token %}
<br/>

{% if form.non_field_errors %}
  <div class="non_field_errors">
  {{ form.non_field_errors }}
  </div>
{% endif %}

<div class="fieldWrapper">
  	<div class="span-5 clear"><label for="id_subject">Region</label></div>
    <div class="span-2">
		<select name="region" id="id_region">
		<option value="" selected="selected">---------</option>
		{% for r in regions %}
			<option value="{{r.name}}">{{r.name}}</option>
		{% endfor %}
		</select>
    </div><br/>
</div>
<div class="fieldWrapper">
  	<div class="span-5 clear"><label for="id_subject">District</label></div>
    <div class="span-2">
		<select name="district" id="id_district">
		<option value="" selected="selected">---------</option>
		</select>
    </div><br/>
</div>
<div class="fieldWrapper">
  	<div class="span-5 clear"><label for="id_subject">Facility</label></div>
    <div class="span-2">
		<select name="facility" id="id_facility">
		<option value="" selected="selected">---------</option>
		</select>
    </div><br/>
</div>
{% for field in form.visible_fields %}
  {% if field.errors %}
    <div class="field_errors">
    {{field.errors}}
    </div>
  {% endif %}
  
  <div class="span-5 clear">
	  {{ field.label_tag }}
  </div>
  <div class="span-2">
	  {{ field }}
  </div><br/>

{% endfor %}

<div class="submit">
	<input type="hidden" name="pk" value="{{ user.pk }}"/>
	<input type="submit" name="submit" value="Save Contact" />{% if edit_user and not hide_delete %}
	<input type="submit" name="submit" value="Delete Contact" />{% endif %}
</div>
</form>
</div>
<!-- Registration request form -->  
<div class="span-12" style="margin-left:auto; margin-right:auto; float:none">
<div class="sfb clear">
</div>
</div>
</div>
