.side-tabs {
    width: 180px;
    float: left;

    overflow: visible;
}

.side-tabs ul {
    list-style:  none;
    border-right: 1px solid #2fa5d1;
}

.side-tabs li {
    margin-top: 1px;
    margin-bottom: 1px;
}

.side-tabs li a {
    line-height: 22px;
    color: white;
    outline: none;
    display: block;
    padding: 0 1em;
    background: #2fa5d1 url("../img/tab-bg.png") repeat-x;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    z-index: 100;
}

.side-tabs li.selected a {
    text-shadow: #cef1f5 0 0 2px;
    border: 1px solid lightgray;
    border-right: none;
    background-color: white;
    position:relative;
    left: 2px;
}

.side-tabs li a:hover, .side-tabs li a:focus {
    text-shadow: #cef1f5 0 0 2px;
    text-decoration:none;
    background-color: #5dcbda; 
}

.side-tabs li.selected a {
    color: black;
}

.side-tabs li.selected a:hover, .side-tabs li a:focus {
    text-shadow: #cef1f5 0 0 2px;
    color:white;
    text-decoration: none;
    background-color: #5dcbda; 
}


.report-content {
    border: 1px solid lightgray;
    float: right;
    width: 754px; 
    min-height: 400px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.report-content .inner {
    margin: 5px;
}

.no_data {
    color:#ccc;
}

.sidebar {
	padding-top: 10px;
	clear: left;
	width: 180px;
    float: left;
    overflow: visible;
}

.sidebar table {
    margin: 5px 0 5px 0;
    width: 160px;
}