.subtabs {
    padding: 0 0 .2em 0;
}

.subtabs ul {
	list-style:  none;
    display: inline;
}

.subtabs li {
    display: inline-block;
    width: 8.2em;
    text-align: center;
    height: 2em;
    vertical-align: top;
    padding: .5em 0em;
}

.subtabs li a {
    color: white;
    outline: none;
    padding: .2em .5em;
    background: #2FA5D1 url("/static/rapidsms/images/tab-bg.png") repeat-x;
    display: block;
    height: 100%;
}

.subtabs li.selected a, .subtabs li.selected a:hover, .subtabs li.selected a:focus {
	color: #2FA5D1;
    border-bottom: none;
    background: white url("/static/rapidsms/images/tab-bg-active.png") repeat-x;
}

.subtabs li a:hover, .subtabs li a:focus {
    text-decoration:none;
    background: #5dcbda url("/static/rapidsms/images/tab-bg-hover.png") repeat-x;
}


.report-content {
    border: 1px solid lightgray;
    float: left;
    
    width: 754px; 
    min-height: 400px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

.report-content .inner {
    margin: 5px;
}

.selector {
    margin-top: 1em;
    padding: 1em;	
}

.no_data {
    color:#ccc;
}

.sidebar {
    padding: 5px 0px 0px 5px;
	clear: right;

    width: 175px;
    float: right;
    
    overflow: visible;
}

.sidebar table {
    margin: 5px 0 5px 0;
    width: 160px;
}

.sidebar table th {
    font-weight: bold;  
}

.sidebar table tr.odd {
    background-color: #e1e1e1;	
}

table.malawi-report {
    width: 100%;
}

table.malawi-report tr td {
    text-align: right;
}

fieldset {
    border: none;
}


/* flot */
div.tickLabel {
    word-wrap: break-word;
    font-size: 9px;
    padding: 0px 1px;
    box-sizing: border-box;
}

.yaxislabel {
    float: left;
}
.y2axislabel {
    float: right;
}

.clear {
    clear: both;
}