{% extends base_template %}
{% load i18n %}
{% load webdesign %} 
{% load alerts_tags %} 
{% block content %}
<div class="warning">
NOTE: The dashboard is still under construction. This is a temporary placeholder
</div>
{% include "malawi/partials/location_selector.html" %}
<div class="module">
    <h2>{% trans 'Alerts' %}</h2>
    {% alerts request %}
</div>
<div class="two-columns module" id="small-left">
    <div class="col-1">
        <div class="module"> 
        <h2>Reporting Rates (last {{days}} days)</h2>
        {% include "logistics/partials/pie_reporting.html" %}
        </div>
    </div>
    <div class="col-2">
        <div class="module">
	        <h2>{% trans 'Registered HSAs' %}</h2>
	        {{ hsas_table.as_html }}
        </div>
    </div>
    <div class="clear-hack"></div>
</div>
{% endblock %}
