{% extends base_template %}
{% load i18n %}
{% load webdesign %} 
{% load alerts_tags %} 

{% block javascripts %}
    <!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/excanvas.js"></script><![endif]-->
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}logistics/javascripts/jquery.flot.pie.js"></script>
{% endblock %} 

{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/logistics.css" />
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
{% endblock %}

{% block content %}
<div class="warning">
NOTE: The dashboard is still under construction.
</div>
{% include "malawi/partials/location_selector.html" %}
<div class="module">
    <h2>{% trans 'Alerts' %}</h2>
    {% alerts request %}
</div>
<div class="two-columns toppadded">
    <div class="col-1">
        <div class="module"> 
        <h2>{{ reporting_data.on_time_chart.title }}</h2>
        {% with reporting_data.on_time_chart.data as chart_data %}{% with "on_time_chart" as chartdiv %}{% with "on_time_hover" as hoverdiv %}
        {% include "logistics/partials/pie_reporting_generic.html" %}
        {% endwith %}{% endwith %}{% endwith %}
        </div>
    </div>
    <div class="col-2">
        <div class="module">
        <h2>{{ reporting_data.breakdown_chart.title }}</h2>
        {% with reporting_data.breakdown_chart.data as chart_data %}{% with "breakdown_chart" as chartdiv %}{% with "breakdown_hover" as hoverdiv %}
        {% include "logistics/partials/pie_reporting_generic.html" %}
        {% endwith %}{% endwith %}{% endwith %}
        </div>
    </div>
    <div class="clear-hack"></div>
</div>
{% endblock %}
