{% extends base_template %}
{% load i18n %}
{% load webdesign %} 
{% block content %}
<div class="warning">
NOTE: The dashboard is still under construction. This is a temporary placeholder
</div>
<div class="module">
    <h2>{% trans 'Alerts' %}</h2>
    <div class="scrollable" style="height:200px;overflow:auto;">
        <ul class="alerts">
            {% for dummychar in "abcdefghijkl" %}
            <li class="alert error">{% lorem 20 w random %}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="module">
    <h2>{% trans 'HSAs' %}</h2>
    <p>{% lorem 2 %}</p>                
</div>
{% endblock %}
