{% extends base_template %}

{% load logistics_report_tags %}

{% block stylesheets %}{{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
{% endblock %}

{% block title %}Facilities - {{ block.super }}{% endblock %}
{% block content %}
{% include "malawi/partials/location_selector.html" %}
<div class="module">
    {% if location %}
    <h2>Facilities in {{ location.name }}</h2>
        {% facility_aggregate_table location %}
    {% else %}
    <h2>Choose a district to see stock levels</h2>
    {{ table.as_html }}
    {% endif %}
</div>
{% endblock %}
