{% extends base_template %}

{% block content %}

<h2>How to get help</h2>

<p>
If you are having problems with the cStock system, please contact the administrators.
</p>

<ul>
    <li><h3>Email:</h3><ul>
        <li>Amos Misomali: amisomali@jsimw.com</li>
        <li>Boniface Chimphanga: bchimphanga@jsimw.com</li>
        </ul>
    </li>
    <li><h3>Phone/SMS:</h3><ul>
        <li>Amos Misomali: +265 999 566 178</li>
        <li>Boniface Chimphanga: +265 999 615 869</li>
        </ul>
    </li>
</ul>

{% endblock %}