{% extends base_template %}

{% load maps_tags %}
{% load i18n %}

{% block javascripts %}{{ block.super }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    $(function() {
        var last_marker = null;
        
	    var latlng = new google.maps.LatLng({{ default_latitude }}, {{ default_longitude }});
	    var myOptions = {
	      zoom: 8,
	      center: latlng,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        
        var bounds = new google.maps.LatLngBounds();
        
{% for sp in supply_points %}
        {% if sp.location.point.latitude and sp.location.point.longitude %}
        {% comment %}
        ##########################################################
        this counter0 stuff is a horrible hack to make sure we have 
        unique variable names. the right answer is to probably do 
        this in a javascript loop, but that means jsonifying the data
        ##########################################################
        {% endcomment %}
        var latlng{{forloop.counter0}} = new google.maps.LatLng({{ sp.location.point.latitude }}, {{ sp.location.point.longitude }});
        
        var marker{{forloop.counter0}} = new google.maps.Marker({
            position: latlng{{forloop.counter0}}, 
            map: map, 
            title:"{{ sp.name }}",
            icon: "{% get_map_icon sp request %}"
        });
        var infoWindowContents{{forloop.counter0}} = $('{% get_map_popup sp request %}');
        marker{{forloop.counter0}}.infowindow = new google.maps.InfoWindow({content: infoWindowContents{{forloop.counter0}}.get(0)});
        google.maps.event.addListener(marker{{forloop.counter0}}, 'click', function(event) {
            if (last_marker != null) { last_marker.infowindow.close(); }
            marker{{forloop.counter0}}.infowindow.open(map, marker{{forloop.counter0}});
            last_marker = marker{{forloop.counter0}};
        });
        
        bounds.extend(latlng{{forloop.counter0}});
        {% endif %}
{% empty %}
        bounds.extend(latlng);        
{% endfor %}
        // This is needed to set the zoom after fitbounds,
        // HT: http://stackoverflow.com/questions/2989858/google-maps-v3-enforcing-min-zoom-level-when-using-fitbounds/2990316#2990316 
		google.maps.event.addListener(map, 'zoom_changed', function() {
		    zoomChangeBoundsListener = 
		        google.maps.event.addListener(map, 'bounds_changed', function(event) {
		            if (this.getZoom() > 10 && this.initialZoom == true) {
		                // Change max/min zoom here
		                this.setZoom(10);
		                this.initialZoom = false;
		            } else {
		              // Nothing to worry about here.
		            }
		        google.maps.event.removeListener(zoomChangeBoundsListener);
		    });
		});
		map.initialZoom = true;
        map.fitBounds(bounds);
        
    });
</script>
{% endblock %}

{% block stylesheets %}{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}maps/stylesheets/maps.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}logistics/stylesheets/reports.css" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock %}

{% block content %}
    {% include "logistics/partials/breadcrumbs.html" %}

    <h2>{{ location.name }}</h2>
    {% if supply_point_count > 100 %}
        <div class="error">
            {% blocktrans with supply_point_count as count %}
                There are {{ count }} supply points to display but only 100
                can be displayed at a time. Please filter the location to
                have better results.
            {% endblocktrans %}
        </div>
    {% endif %}
    <div id="map_legend">
        <span><img src="{{MEDIA_URL}}logistics/images/stockout.png"></img>&nbsp;</span>Mostly Stockouts
        <span><img src="{{MEDIA_URL}}logistics/images/warning.png">&nbsp;</span>Some Stockouts
        <span><img src="{{MEDIA_URL}}logistics/images/goodstock.png">&nbsp;</span>No Stockouts
        <span><img src="{{MEDIA_URL}}logistics/images/no_data.png">&nbsp;</span>No Data</div>
    <div id="map_canvas"></div>
{% endblock %}
